<div id="payments" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    payment
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Paiements de facture
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un paiement">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div></div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <mat-table class="payments-table"
                       #table [dataSource]="dataSource"
                       matSort
                       fusePerfectScrollbar>

                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p class="text-truncate">{{payment.invoice?.customer.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="invoice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Facture</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p class="text-truncate">{{payment.number}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="netToPay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Net à payer</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p class="text-truncate">{{payment.netToPay| number:'':'fr-FR'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="paymentDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date de Paiement</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p *ngIf="payment.state === 'VALIDATE'"
                           class="text-truncate">{{payment.paymentDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Montant payé</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p *ngIf="payment.state === 'VALIDATE'"
                           class="text-truncate">{{payment.amount| number:'':'fr-FR'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="methodOfPayment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reglement</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p *ngIf="payment.state === 'VALIDATE'"
                           class="text-truncate">{{methodOfPaymentEnum[payment.methodOfPayment]}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="balanceAfter">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Solde facture</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p *ngIf="payment.state === 'VALIDATE'"
                           class="text-truncate">{{payment.balanceAfter| number:'':'fr-FR'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Enregistré par</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p class="text-truncate">{{payment.createBy?.firstname}} {{payment.createBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': payment.state==='PENDING'?'#FF9800':payment.state==='VALIDATE'?'#388E3C':'#F44336'}"></div>
                                <div class="priority-label">{{paymentState[payment.state]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="validateBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Validé par</mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <p class="text-truncate">{{payment.validateBy?.firstname}} {{payment.validateBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let payment">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button *ngIf="roleUtils.canPrintInvoice()" mat-menu-item
                                        [routerLink]="'/views/invoice/print/payment/'+payment.id">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimer</span>
                                </button>

                                <button
                                    *ngIf="roleUtils.canValidateInvoicePayment() && payment.state === 'PENDING'"
                                    mat-menu-item (click)="showPaymentDialog('validate', payment)">
                                    <mat-icon>check</mat-icon>
                                    <span>Valider le paiement</span>
                                </button>
                                <button *ngIf="roleUtils.canCancelInvoicePayment()" mat-menu-item
                                        (click)="cancelPayment(payment)">
                                    <mat-icon>close</mat-icon>
                                    <span>Annuler le paiement</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let payment; columns: displayedColumns;"
                         class="payment"
                         [@animate]="{value:'*',params:{y:'25%'}}"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
    <!-- / CENTER -->
</div>
