<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <http-spinner-small></http-spinner-small>

        <form [formGroup]="projectFolderForm" name="projectFolderForm">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>Client</mat-label>
                    <mat-select required formControlName="customer" [compareWith]="dsnUtils.objectComparison">
                        <mat-option *ngFor="let customer of customers" [value]="customer">
                            {{customer.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>Projet / Dossier</mat-label>
                    <input formControlName="name" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>CA prévisionnel</mat-label>
                    <input type="text" formControlName="turnover" matInput mask="separator" required>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Budget du client</mat-label>
                    <input type="text" formControlName="clientBudget" matInput mask="separator" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>Etat</mat-label>
                    <mat-select formControlName="state" required>
                        <mat-option *ngFor="let states of folderStates" [value]="states">
                            {{folderState[states]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Priorité</mat-label>
                    <mat-select formControlName="priority" required>
                        <mat-option *ngFor="let priiority of folderPriorities" [value]="priiority">
                            {{folderPriority[priiority]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-label>Taux de chance {{projectFolderForm.get('chanceRate').value+' %'}}</mat-label>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-slider fxFlex="100"
                    class="example-margin"
                    formControlName="chanceRate"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="10"
                    min="0"
                    max="100"></mat-slider>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>Personne en charge</mat-label>
                    <mat-select required formControlName="agent" [compareWith]="dsnUtils.objectComparison">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.firstname}} {{user.lastname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <input [matDatepicker]="pFStartDate" formControlName="startDate" matInput
                           placeholder="Date début">
                    <mat-datepicker-toggle [for]="pFStartDate" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pFStartDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <input [matDatepicker]="pFEndDate" formControlName="endDate" matInput
                           placeholder="Date fin">
                    <mat-datepicker-toggle [for]="pFEndDate" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pFEndDate></mat-datepicker>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Note</mat-label>
                    <textarea formControlName="note" matInput placeholder="Note" rows="5"></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button (click)="matDialogRef.close()"
                mat-button
                class="mr-8"
                aria-label="Delete"
                matTooltip="Delete">
            ANNULER
        </button>

        <button (click)="save()" mat-button class="save-button"
                [disabled]="projectFolderForm.invalid" aria-label="SAVE">
            {{action === 'add' ? 'ENREGISTRER' : action === 'edit' ? 'MODIFIER' : ''}}
        </button>
    </div>

</div>

