@import "src/@fuse/scss/fuse";

.project-folder-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 600px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;

    }

    .example-h2 {
        margin: 10px;
    }

    .example-margin {
        margin: 10px;
    }

    .mat-slider-horizontal {
        width: 500px;
    }

    .example-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 100px;
    }

}
