<div class="navbar-top" [ngClass]="fuseConfig.layout.toolbar.background">

    <div class="logo">
        <img src="assets/images/logos/dsn-logo.png">
        <!-- <span class="logo-text secondary-text">ERP</span>-->
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.toolbar.background"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.toolbar.background">

        <div class="h3 username">{{currentUser?.firstname}} {{currentUser?.lastname}}</div>
        <div class="h5 email hint-text mt-8">{{currentUser?.email}}</div>
        <div *ngIf="roleNames" class="h5 email hint-text mt-8">{{roleNames}}</div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.toolbar.background">
            <img class="avatar" [src]='currentUser?.imageUri'>
            <!--            <img class="avatar" src="assets/images/avatars/Arnold.jpg">-->
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
