h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
    font-weight: 500;
    margin: 0 0 10px;
    color: $headings-color;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0 0 20px;
}

a {
    color: $default-link-color;
    text-decoration: none;
    transition: color $animation-speed linear;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($default-link-color, 15%);
    }
}