@import 'variable';
@import 'mixins';
@import 'reset';
@import 'typography';
.container {
    max-width: 1024px;
    padding: 0 15px;
    margin: 30px auto;
}

/* responsive table */

.responsiveTbl table {
    text-align: center;
    width: 100%;
}

tr {
    background: $white;
    &:nth-child(2n) {
        background: darken($white, 5%);
    }
    &:hover {
        .msg {
            opacity: 1;
            top: 0;
        }
    }
}

th,
td {
    padding: 15px 20px;
    vertical-align: middle;
    &:nth-child(2) {
        text-align: left;
    }
}

th {
    background: $primary-color;
    color: $white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 20px;
}

.price,
.btn {
    border: 1px solid $primary-color;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    min-width: 100px;
    text-align: center;
}

.btn {
    border: none;
    color: $white;
    background: $primary-color;
    transition: box-shadow 0.3s linear;
    &:hover {
        box-shadow: inset 0 0 0 25px darken($primary-color, 25%);
        color: $white;
    }
}

/* responsive using desktop first approach */

@media only screen and (max-width: 767px) {
    thead {
        display: none;
    }

    tr {
        margin: 0 0 15px;
        display: block;
    }

    td {
        display: block;
        text-align: left;
        padding: 10px 20px 10px 160px;
        position: relative;

        &:before {
            content: 'Rank';
            font-weight: 500;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }

        &:nth-of-type(2) {
            &:before {
                content: 'Full Name';
            }
        }

        &:nth-of-type(3) {
            &:before {
                content: 'Starting Price';
            }
        }

        &:nth-of-type(4) {
            &:before {
                content: 'Review';
            }
        }

        &:nth-of-type(5) {
            &:before {
                content: 'Hiring';
            }
        }
    }

    .price,
    .btn {
        border: none;
        padding: 0;
        min-width: 0;
        color: $black;
        background: none;
    }
}