<div class="page-layout carded fullwidth inner-scroll" id="crud-devis">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button *ngIf="pageType === 'new'" [routerLink]="'/views/invoice/devis'" class="mr-0 mr-sm-16"
                        mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button *ngIf="pageType === 'edit'"
                        [routerLink]="'/views/invoice/devis-details/'+devis.id"
                        class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div *ngIf="pageType ==='edit'" class="h2">
                        DEVIS - {{devis.number}}
                    </div>
                    <div *ngIf="pageType ==='new'" class="h2">
                        Création d'un devis
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button (click)="save()"
                    *ngIf="pageType ==='new' && isLinesCorrect()"
                    [disabled]="devisForm.invalid"
                    class="save-product-button" mat-raised-button>
                <span>ENREGISTRER</span>
            </button>

            <div *ngIf="pageType !=='new'">
                <button (click)="duplicate()"
                        *ngIf="_crudDevisService.devis.canDuplicate && isLinesCorrect()"
                        [disabled]="devisForm.invalid"
                        class="save-product-button" mat-raised-button>
                    <span>DUPLIQUER</span>
                </button>

                <button (click)="save()"
                        *ngIf="pageType ==='edit' && !_crudDevisService.devis.canDuplicate && isLinesCorrect()"
                        [disabled]="devisForm.invalid"
                        class="save-product-button"
                        mat-raised-button>
                    <span>MODIFIER</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card">

            <http-spinner></http-spinner>

            <div class="content">
                <div fusePerfectScrollbar style="margin-left: 20px; margin-top: 2%">
                    <form [formGroup]="devisForm" name="devisForm">
                        <div class="example-container" style="float: left; width: 30%">
                            <mat-form-field *ngIf="devis.id" appearance="outline" fxFlex="100" readonly>
                                <mat-label>Numéro</mat-label>
                                <input formControlName="number" matInput required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Client</mat-label>
                                <mat-select (selectionChange)="onCustomerSelected($event.value)"
                                            formControlName="customer" required>
                                    <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                        {{customer.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Adresse Facturation</mat-label>
                                <textarea formControlName="invoiceAddress" matInput
                                          placeholder="Addresse de facturation"
                                          rows="2">
                                    </textarea>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Personne en charge</mat-label>
                                <mat-select (selectionChange)="onAgentSelected($event.value)"
                                            formControlName="agent" required>
                                    <mat-option *ngFor="let agent of agents" [value]="agent.id">
                                        {{agent.firstname}} {{agent.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Date devis</mat-label>
                                <input [matDatepicker]="picker" formControlName="devisDate"
                                       matInput required>
                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <div style="width: 100%; padding: 19px 0;" fxFlex="1 0 auto" fxLayout="row"
                                 fxLayoutAlign="start center">
                                <mat-checkbox formControlName="showReglementMode">Afficher le mode de reglement à
                                    l'impression
                                </mat-checkbox>
                            </div>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Objet</mat-label>
                                <input formControlName="title" matInput required>
                            </mat-form-field>

                            <div style="width: 100%; padding: 0 5px;" fxFlex="1 0 auto" fxLayout="row"
                                 fxLayoutAlign="start center">
                                <mat-checkbox formControlName="showComment">Afficher le commentaire à
                                    l'impression
                                </mat-checkbox>
                            </div>
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Commentaire</mat-label>
                                <textarea formControlName="comment" matInput
                                          placeholder="Commentaire du devis"
                                          rows="2">
                                    </textarea>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Commentaire Privé</mat-label>
                                <textarea formControlName="privateComment" matInput
                                          placeholder="Commentaire note interne"
                                          rows="2">
                                    </textarea>
                            </mat-form-field>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <button (click)="addDiscount()" *ngIf="!discountVisibility && !discount"
                                        class="submit-button"
                                        color="accent" mat-stroked-button>
                                    <span>Inclure une remise</span>
                                </button>
                                <mat-form-field *ngIf="discountVisibility || discount" class="pr-4" fxFlex="50"
                                                readonly>
                                    <mat-label>Remise</mat-label>
                                    <input #d (input)="includeDiscount(d.value)" formControlName="discount"
                                           mask="separator" matInput type="text">
                                </mat-form-field>
                                <button (click)="cancelDiscount()" *ngIf="discountVisibility || discount"
                                        class="submit-button" color="accent"
                                        mat-stroked-button style="width: 100%;">
                                    <span>Annuler</span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="divServicesIntervention" style="float: right; position: relative;">
                        <div class="entete-div-formulaire">
                            Lignes du devis
                        </div>
                        <div class="responsiveTbl">
                            <table>
                                <thead>
                                <tr>
                                    <th style="text-align: center;">N°</th>
                                    <th style="text-align: center;">Désignation
                                    </th>
                                    <th style="text-align: center;">Quantité</th>
                                    <th style="text-align: center;">Prix
                                        Unitaire
                                    </th>
                                    <th style="text-align: center;">Montant HT
                                    </th>
                                    <th style="text-align: center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let line of devisLines; let i=index">

                                    <td>{{i + 1}}</td>
                                    <td>
                                        <textarea [(ngModel)]="line.designation" id="designation_{{i}}"
                                                  matInput></textarea>
                                    </td>
                                    <td>
                                        <input (change)="onDevisLineChanged(i)" (keyup)="onDevisLineChanged(i)"
                                               [(ngModel)]="line.quantity" id="quantity_{{i}}" mask="separator"
                                               matInput min="1" type="text"/>
                                    <td>
                                        <input (change)="onDevisLineChanged(i)" (keyup)="onDevisLineChanged(i)"
                                               (keyup.enter)="addNewRow()"
                                               [(ngModel)]="line.unitPrice" id="unitPrice_{{i}}" mask="separator"
                                               matInput min="1" type="text"/>
                                    </td>
                                    <td>{{line.amount | number:'':'fr-FR'}}</td>
                                    <td>
                                            <span>
                                                <a (click)="deleteLine(i)" href="javascript:void(0);">
                                                    <mat-icon>delete</mat-icon>
                                                </a>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                                <button (click)="addNewRow()" class="submit-button"
                                        color="accent" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                                <tfoot>
                                <tr class="text-style">
                                    <th colspan="4"
                                        id="Subtotal"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">
                                        Sous-Total
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{totalDevisHT | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr *ngIf="discountVisibility || discount" class="text-style">
                                    <th colspan="4"
                                        id="discount"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">Remise
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{discount | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr class="text-style">
                                    <th colspan="4" [matMenuTriggerFor]="taxMenu"
                                        id="tva" matTooltip="Cliquez pour choisir une taxe"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">
                                        TVA ({{taxValue}} %)
                                        <mat-menu #taxMenu="matMenu" xPosition="after">
                                            <button class="nav-item" mat-menu-item (click)="getTaxeSelected(0)">
                                                <span>Pas de taxe</span>
                                            </button>
                                            <button class="nav-item" mat-menu-item *ngFor="let tax of taxes"
                                                    (click)="getTaxeSelected(tax.value)">
                                                <span>{{tax.value}} %</span>
                                            </button>
                                        </mat-menu>
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{taxAmount | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr class="text-style">
                                    <th colspan="4"
                                        id="total"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">Total
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{total | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

