
#crud-devis {

    .header {

        .crud-devis-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .crud-devis-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

    .example-container {
        display: flex;
        flex-direction: column;
    }

    #table {
        border-collapse: separate;
    }

    #table th, #table td {
        border: 1px solid #000;
    }

    #Subtotal {
        text-align: right;
    }

    #tva {
        text-align: right;
    }

    #discount {
        text-align: right;
    }

    #total {
        text-align: right;
    }

    .text-style {
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }


    .divServicesIntervention {
        width: 70%;
        float: right;
        padding: 0 3%;
        height: 100%;
    }

    .div-total-invoiceLine {
        padding-left: 75%;
        margin-bottom: 5%;
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 3%;
    }

    .entete-div-formulaire {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        color: #7f7f80;
        margin-bottom: 10px;
        line-height: 30px;
    }

    .maximum {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    .ligne-sauvegarder-formulaire-custom {
        margin-top: 5%;
        width: 100%;
        text-align: center;
    }

    .ligne-sauvegarder-formulaire td,
    .ligne-sauvegarder-formulaire-custom td {
        padding: 15px 10px;
    }

    .cc {
        float: left;
        position: relative;
    }

    .div100 {
        width: 100%;
    }

    .ccr {
        float: right;
        position: relative;
    }

    .btn-cancel {
        color: #e3e6f2;
        /* background-color: #ef9b0f; */
        background-color: #383838;
    }

    .btn-success {
        color: #e3e6f2;
        background-color: #34A835;
    }

    .btn-delete {
        color: #e3e6f2;
        background-color: red;
    }

    /* responsive table */

    .responsiveTbl table {
        text-align: center;
        width: 100%;
    }

    tr {
        background: #FFFFFF;

        &:nth-child(2n) {
            background: darken(#FFFFFF, 5%);
        }

        &:hover {
            .msg {
                opacity: 1;
                top: 0;
            }
        }
    }

    th,
    td {
        padding: 8px 13px;
        vertical-align: middle;

        &:nth-child(2) {
            text-align: left;
        }
    }

    th {
        background: #7f7f80;
        color: #FFFFFF;
        font-weight: 500;
        text-transform: uppercase;
        padding: 21px 13px;
    }

    .price,
    .btn {
        border: 1px solid #7f7f80;
        border-radius: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 8px;
        min-width: 100px;
        text-align: center;
    }

    .btn {
        border: none;
        color: #FFFFFF;
        background: #7f7f80;
        transition: box-shadow 0.3s linear;

        &:hover {
            box-shadow: inset 0 0 0 25px darken(#7f7f80, 100%);
            color: #FFFFFF;
        }
    }

    /* responsive using desktop first approach */

    @media only screen and (max-width: 767px) {
        thead {
            display: none;
        }

        tr {
            margin: 0 0 8px;
            display: block;
        }

        td {
            display: block;
            text-align: left;
            padding: 8px 13px 8px 160px;
            position: relative;

            &:before {
                content: 'Rank';
                font-weight: 500;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            &:nth-of-type(2) {
                &:before {
                    content: 'Full Name';
                }
            }

            &:nth-of-type(3) {
                &:before {
                    content: 'Starting Price';
                }
            }

            &:nth-of-type(4) {
                &:before {
                    content: 'Review';
                }
            }

            &:nth-of-type(5) {
                &:before {
                    content: 'Hiring';
                }
            }
        }

        .price,
        .btn {
            border: none;
            padding: 0;
            min-width: 0;
            color: #000000;
            background: none;
        }
    }


}

