P<div class="page-layout carded fullwidth inner-scroll" id="prospect">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/views/crm/prospects'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                     <img *ngIf="product.images[0]" [src]="product.images[0].url">
                     <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                 </div>-->

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div *ngIf="pageType ==='edit'" class="h2">
                        {{prospect.name}}
                    </div>
                    <div *ngIf="pageType ==='new'" class="h2">
                        Ajout d'un prospect
                    </div>
                    <!--  <div class="subtitle secondary-text">
                          <span>Product Detail</span>
                      </div>-->
                </div>
            </div>
            <!-- / APP TITLE -->

            <button (click)="saveOrEdit()"
                    *ngIf="pageType ==='new'"
                    [disabled]="prospectForm.invalid"
                    class="save-product-button" mat-raised-button>
                <span>ENREGISTRER</span>
            </button>

            <button (click)="saveOrEdit()"
                    *ngIf="pageType ==='edit'"
                    [disabled]="prospectForm.invalid || prospectForm.pristine"
                    class="save-product-button" mat-raised-button>
                <span>MODIFIER</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="prospectForm" class="mat-card mat-elevation-z4 p-24 mr-24" fxFlex="1 0 auto"
                      fxLayout="column" fxLayoutAlign="start" name="form">

                    <div *ngIf="pageType ==='new'" class="h2 mb-24">Formulaire d'ajout</div>

                    <div *ngIf="pageType ==='edit'" class="h2 mb-24">Formulaire de modification</div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Nom *</mat-label>
                            <input formControlName="name" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Nature Juridique</mat-label>
                            <mat-select formControlName="judicialNature">
                                <mat-option value=""></mat-option>
                                <mat-option value="SA">SA</mat-option>
                                <mat-option value="SARL">SARL</mat-option>
                                <mat-option value="SAS">SAS</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field appearance="outline" fxFlex="33">
                            <mat-label>Site web</mat-label>
                            <input formControlName="siteWeb" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="px-8" fxFlex="34">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="33">
                            <mat-label>Description</mat-label>
                            <input formControlName="description" matInput>
                        </mat-form-field>

                    </div>


                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field appearance="outline" fxFlex="33">
                            <mat-label>Numéro Telephone 1 *</mat-label>
                            <input formControlName="telephoneOne" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="px-8" fxFlex="34">
                            <mat-label>Numéro Telephone 2</mat-label>
                            <input formControlName="telephoneTwo" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="33">
                            <mat-label>Adresse *</mat-label>
                            <input formControlName="addressOne" matInput>
                        </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Nom du Contact</mat-label>
                            <input formControlName="contactName" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="pl-4" fxFlex="50">
                            <mat-label>Numéro Contact</mat-label>
                            <input formControlName="telephoneContact" matInput>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field appearance="outline" fxFlex="33">
                            <input [matDatepicker]="picker" formControlName="createDate" matInput
                                   placeholder="date de création">
                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="px-8" fxFlex="34">
                            <mat-label>Etat *</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let typeState of customerStates" [value]="typeState">
                                    {{customerstate[typeState]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div style="width: 100%; padding: 19px 0;">
                            <mat-checkbox formControlName="enabled">Activé</mat-checkbox>
                        </div>

                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Secteur d'activité</mat-label>
                            <mat-select (selectionChange)="onBranchSelected($event.value)"
                                        formControlName="branchActivity">
                                <mat-option *ngFor="let branch of branchs" [value]="branch.id">
                                    {{branch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Personne en charge *</mat-label>
                            <mat-select (selectionChange)="onUserSelected($event.value)"
                                        formControlName="agent">
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                    {{user.firstname}} {{user.lastname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
