<div class="inner-scroll" fxLayout="row" fxLayoutAlign="start" id="login">

    <div fxFlex fxHide fxShow.gt-xs id="login-intro">

        <!--<div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/dsn-logo.png">
        </div>-->

        <div [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}" class="title">
            DSN ERP
        </div>

        <div [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}" class="description">
            Description of the application with features
        </div>

    </div>

    <div [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}" fusePerfectScrollbar
         id="login-form-wrapper">

        <div id="login-form">

            <div fxShow.gt-xs>
                <img src="assets/images/logos/dsn-logo.png">
            </div>
            <br/><br/><br/>

            <div [align]='"center"' class="title">AUTHENTIFICATION</div>

            <http-spinner-small></http-spinner-small>

            <form (ngSubmit)="onLogin()" [formGroup]="loginForm" name="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input formControlName="username" matInput>
                    <mat-icon class="secondary-text" matSuffix>people</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Nom d'utilisateur est requis
                    </mat-error>
                    <!--<mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>-->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input formControlName="password" matInput type="password">
                    <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe est requis
                    </mat-error>
                </mat-form-field>

                <div *ngIf="false" class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox aria-label="Remember Me" class="remember-me">
                        Remember Me
                    </mat-checkbox>

                    <a [routerLink]="'/pages/auth/forgot-password-2'" class="forgot-password">
                        Forgot Password?
                    </a>
                </div>

                <button [disabled]="loginForm.invalid" aria-label="LOGIN" class="submit-button" color="accent"
                        mat-raised-button>
                    SE CONNECTER
                </button>

            </form>

            <div *ngIf="false" class="separator">
                <span class="text">OR</span>
            </div>

            <div *ngIf="false" fxLayout="column" fxLayoutAlign="start center">

                <button class="google" mat-raised-button>
                    Log in with Google
                </button>

                <button class="facebook" mat-raised-button>
                    Log in with Facebook
                </button>

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">
                    Copyright ® 2019 <a href="http://dsnmali.com" style="margin-left: 5px; color: #A61341; font-weight: normal !important;"
                                        target="_blank">
                    DSN-MALI SARL</a>
                </span>
                <a *ngIf="false" [routerLink]="'/pages/auth/register-2'" class="link">Create an account</a>
            </div>
        </div>
    </div>

</div>
