<div class="page-layout carded fullwidth inner-scroll" id="sector-activity">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/views/setting/sector-activities'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                     <img *ngIf="product.images[0]" [src]="product.images[0].url">
                     <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                 </div>-->

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div *ngIf="pageType ==='edit'" class="h2">
                        {{branchActivity.name}}
                    </div>
                    <div *ngIf="pageType ==='new'" class="h2">
                        Ajout d'un secteur d'activité
                    </div>
                    <!--  <div class="subtitle secondary-text">
                          <span>Product Detail</span>
                      </div>-->
                </div>
            </div>
            <!-- / APP TITLE -->

            <button (click)="save()"
                    *ngIf="pageType ==='new'"
                    [disabled]="branchActivityForm.invalid"
                    class="save-product-button" mat-raised-button>
                <span>ENREGISTRER</span>
            </button>

            <button (click)="edit()"
                    *ngIf="pageType ==='edit'"
                    [disabled]="branchActivityForm.invalid || branchActivityForm.pristine"
                    class="save-product-button" mat-raised-button>
                <span>MODIFIER</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="branchActivityForm" class="mat-card mat-elevation-z4 p-24 mr-24" fxFlex="1 0 auto"
                      fxLayout="column" fxLayoutAlign="start" name="form">

                    <div *ngIf="pageType ==='new'" class="h2 mb-24">Formulaire d'ajout</div>

                    <div *ngIf="pageType ==='edit'" class="h2 mb-24">Formulaire de modification</div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Nom</mat-label>
                            <input formControlName="name" matInput>
                            <mat-error>Le nom est obligatoire!</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="description" matInput
                                      name="description"
                                      placeholder="La description du secteur"
                                      rows="5">
                                    </textarea>
                        </mat-form-field>
                    </div>

                </form>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
