<div class="page-layout simple right-sidebar" fxLayout="row" id="main-dashboard">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <div>
                    <span class="my-0 my-sm-24 welcome-message">Tableau de board</span>
                </div>

                <form [formGroup]="dashForm" name="dashForm">
                    <div fxLayout="row">

                        <div class="my-0 my-sm-24" fxLayout="column" style="margin-right: 13px;"
                             [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                                 [matMenuTriggerFor]="yearMenu" matTooltipPosition="above"
                                 matTooltip="Cliquez pour choisir une année">
                                <mat-icon>event</mat-icon>
                                <div class="priority-label" *ngIf="!selectedYear">Selectionner une année
                                </div>
                                <div class="priority-label" *ngIf="selectedYear">Année : {{selectedYear}}</div>
                            </div>
                            <mat-menu #yearMenu="matMenu">
                                <!--<button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                                    <mat-icon>search</mat-icon>
                                    <span>
                                    <input #searchYearInput matInput type="text" placeholder="Rechercher une année"
                                           autocomplete="off"
                                           (input)="onListItemFiltering('year', $event.target.valueOf())"
                                           focused="'true'">
                                </span>
                                </button>-->
                                <button class="nav-item" mat-menu-item (click)="onYearSelected(null)">
                                    <mat-icon class="nav-link-icon">event</mat-icon>
                                    <span>Toutes les années</span>
                                </button>
                                <button class="nav-item" mat-menu-item *ngFor="let year of filteredYears"
                                        (click)="onYearSelected(year)">
                                    <mat-icon class="nav-link-icon">event</mat-icon>
                                    <span>{{year}}</span>
                                </button>
                            </mat-menu>

                        </div>

                        <div *ngIf="!selectedYear" fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label style="color: white;">Période du</mat-label>
                                <input matInput [matDatepicker]="startDatePicker" name="startDate"
                                       formControlName="startDate" readonly [max]="today">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label style="color: white;">Au</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" name="endDate"
                                       formControlName="endDate" readonly (dateInput)="onSearch()"
                                       [min]="dashForm.get('startDate').value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="my-0 my-sm-24" *ngIf="roleUtils.canReadAllCommercialStat()" fxLayout="column"
                             style="margin-left: 13px;"
                             [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                                 [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                                 matTooltip="Cliquez pour choisir un agent">
                                <mat-icon>person</mat-icon>
                                <div class="priority-label" *ngIf="!selectedUser || !selectedUser.id">Selectionner un
                                    commercial
                                </div>
                                <div class="priority-label"
                                     *ngIf="selectedUser && selectedUser.id">Commercial
                                    : {{selectedUser?.firstname}} {{selectedUser?.lastname}}</div>
                            </div>
                            <mat-menu #assignMenu="matMenu">
                                <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                                    <mat-icon>search</mat-icon>
                                    <span>
                                    <input #searchUserInput matInput type="text" placeholder="Rechercher un commercial"
                                           autocomplete="off"
                                           (input)="onListItemFiltering('user', $event.target.value)"
                                           focused="'true'">
                                </span>
                                </button>
                                <button class="nav-item" mat-menu-item (click)="onUserSelected(null)">
                                    <mat-icon class="nav-link-icon"></mat-icon>
                                    <span>Tous les commeriaux</span>
                                </button>
                                <button class="nav-item" mat-menu-item *ngFor="let user of filteredUsers"
                                        (click)="onUserSelected(user)">
                                    <mat-icon class="nav-link-icon">person</mat-icon>
                                    <span>{{user.firstname}} {{user.lastname}}</span>
                                </button>
                            </mat-menu>
                        </div>

                    </div>
                </form>

                <button (click)="toggleSidebar('project-dashboard-right-sidebar-1')" class="sidebar-toggle mr-8"
                        fxHide.gt-md
                        mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>

            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <http-spinner-small></http-spinner-small>

            <mat-tab-group
                *ngIf="commercialDashBody && invoiceDashBody && crmDashBody && (roleUtils.canSeeDashInvoice() || roleUtils.canSeeDashCrm())"
                dynamicHeight>

                <mat-tab label="Chiffre d'affaire">

                    <div *fuseIfOnDom [@animateStagger]="{value:'50'}" class="widget-group"
                         fxFlex="100"
                         fxLayout="row wrap">

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="24.75" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Objectif
                                    </p>
                                    <p style="font-size: 21px;font-weight: bold;color: #900000;">
                                        {{commercialDashBody.objectiveTurnover | number:'':'fr-FR'}}
                                    </p> F CFA
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="24.75" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Réalisation
                                        ({{dsnUtils.getPercentage(commercialDashBody?.achievedTurnover, commercialDashBody?.objectiveTurnover).toFixed(0)}}
                                        %)
                                    </p>
                                    <p style="font-size: 21px;font-weight: bold;color: #2E7D32;">
                                        {{commercialDashBody.achievedTurnover | number:'':'fr-FR'}}
                                    </p> F CFA
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="24.75" fxFlex.gt-xs="50" fxLayout="column">
                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        CA Prévisionnel
                                    </p>
                                    <p style="font-size: 21px;font-weight: bold;color: #B65611;">
                                        {{commercialDashBody.forecastTurnover | number:'':'fr-FR'}}
                                    </p> F CFA
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="24.75" fxFlex.gt-xs="50" fxLayout="column">
                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Devis ouvert
                                    </p>
                                    <p style="font-size: 21px;font-weight: bold;color: #c59a00;">
                                        {{commercialDashBody.pendingTurnover | number:'':'fr-FR'}}
                                    </p> F CFA
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>

                        <fuse-widget *ngFor="let commercialDashItem of commercialDashBody.commercialDashItems"
                                     [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-sm="{{commercialDashBody.commercialDashItems.length == 1 ? '99':commercialDashBody.commercialDashItems.length == 2 ? '49.5':'33'}}"
                                     fxLayout="column">
                            <div class="fuse-widget-front">
                                <div class="p-16" fxLayout="row">

                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <img class="avatar mr-0 mr-sm-16"
                                             [src]='userImage+commercialDashItem?.commercial?.id'>
                                    </div>

                                    <div class="pr-16">
                                        <div
                                            class="h3">{{commercialDashItem?.commercial?.firstname}} {{commercialDashItem?.commercial?.lastname}}</div>
                                    </div>
                                </div>
                                <table class="p-16 simple clickable" style="width: 100% !important;">
                                    <tbody>
                                    <tr>
                                        <td>Objectif</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text" style="color: #900000;">
                                                {{commercialDashItem?.objectiveTurnover | number:'':'fr-FR'}} F CFA
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Réalisation
                                            ({{dsnUtils.getPercentage(commercialDashItem?.achievedTurnover, commercialDashItem?.objectiveTurnover).toFixed(0)}}
                                            %)
                                        </td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text" style="color: #2E7D32;">
                                                {{commercialDashItem?.achievedTurnover | number:'':'fr-FR'}} F CFA
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CA Prévisionnel</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text" style="color: #B65611;">
                                                {{commercialDashItem?.forecastTurnover | number:'':'fr-FR'}} F CFA
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Devis ouvert</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text" style="color: #c59a00;">
                                                {{commercialDashItem?.pendingTurnover | number:'':'fr-FR'}} F CFA
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Prospects</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text">
                                                {{commercialDashItem?.crmDashBody?.prospectCount | number:'':'fr-FR'}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Clients</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text">
                                                {{commercialDashItem?.crmDashBody?.customerCount | number:'':'fr-FR'}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fuse-widget>

                    </div>

                </mat-tab>

                <mat-tab *ngIf="roleUtils.canSeeDashInvoice()" label="Facturation">

                    <!-- WIDGET GROUP -->
                    <div *fuseIfOnDom [@animateStagger]="{value:'50'}" class="widget-group" fxFlex="100"
                         fxLayout="row wrap">
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p
                                        style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Total Facture
                                    </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">{{invoiceDashBody.totalInvoice| number:'':'fr-FR'}}
                                    </p> F CFA
                                    <p>{{invoiceDashBody.totalInvoiceCount}} facture(s)</p>
                                    <a [routerLink]="'/views/invoice/factures'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Total Payer </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{invoiceDashBody.sumAmountPaid| number:'':'fr-FR'}}
                                    </p> F CFA
                                    <p>{{invoiceDashBody.sumAmountPaidCount}} facture(s)</p>
                                    <a [routerLink]="'/views/invoice/factures'">Voir la liste</a>

                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Total Reste à payer </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{invoiceDashBody.sumStayToPay| number:'':'fr-FR'}}
                                    </p> F CFA
                                    <p>{{invoiceDashBody.sumStayToPayCount}} facture(s)</p>
                                    <a [routerLink]="'/views/invoice/factures'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Total Devis Ouvert</p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{invoiceDashBody.totalDevisOpen| number:'':'fr-FR'}}
                                    </p> F CFA
                                    <p>{{invoiceDashBody.totalDevisOpenCount}} devis</p>
                                    <a [routerLink]="'/views/invoice/devis'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-sm="100" fxLayout="column">
                            <div class="fuse-widget-front">
                                <app-invoice-graph [months]="months" [data]="data"></app-invoice-graph>
                            </div>
                        </fuse-widget>
                    </div>
                </mat-tab>

                <mat-tab *ngIf="roleUtils.canSeeDashCrm()" label="CRM">

                    <div *fuseIfOnDom [@animateStagger]="{value:'50'}" class="widget-group" fxFlex="100"
                         fxLayout="row wrap">
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p
                                        style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Clients
                                    </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">{{crmDashBody.customerCount| number:'':'fr-FR'}}
                                    </p>
                                    <a [routerLink]="'/views/crm/customers'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Prospects </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{crmDashBody.prospectCount| number:'':'fr-FR'}}
                                    </p>
                                    <a [routerLink]="'/views/crm/prospects'">Voir la liste</a>

                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Nouveaux prospects
                                    </p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{crmDashBody.newProspectCount| number:'':'fr-FR'}}
                                    </p>
                                    <a [routerLink]="'/views/crm/prospects'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                            <!-- Front -->
                            <div class="fuse-widget-front">
                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <p style="text-align: center;font-size: 20px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                        Prospects non contactés</p>
                                    <p style="font-size: 17px;font-weight: bold;color: #5F5F60;">
                                        {{crmDashBody.notContactedProspectCount| number:'':'fr-FR'}}
                                    </p>
                                    <a [routerLink]="'/views/crm/prospects'">Voir la liste</a>
                                </div>
                            </div>
                            <!-- / Front -->
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                                     fxFlex.gt-sm="100" fxLayout="column">
                            <div class="fuse-widget-front">
                                <app-crm-graph [customers]="customers" [amounts]="customerAmounts"></app-crm-graph>
                            </div>
                        </fuse-widget>
                    </div>
                </mat-tab>

            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" lockedOpen="gt-md" name="project-dashboard-right-sidebar-1" position="right">

        <!-- SIDEBAR CONTENT -->
        <div class="content">

            <!-- WIDGET GROUP -->
            <div [@animateStagger]="{value:'50'}" class="widget-group" fxFlex="100" fxLayout="column">

                <!-- NOW WIDGET -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="pb-0">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>

                            <!--<div>
                                <button [matMenuTriggerFor]="moreMenu" aria-label="more" mat-icon-button>
                                    <mat-icon>more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <button aria-label="Flip widget" mat-menu-item>
                                        Details
                                    </button>
                                </mat-menu>
                            </div>-->
                        </div>

                        <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'MMMM'}}</span>
                            </div>

                            <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                {{dateNow | date: 'd'}}
                            </div>

                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'y'}}</span>
                            </div>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / NOW WIDGET -->

                <!-- WEATHER WIDGET -->
                <!--
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                &lt;!&ndash; Front &ndash;&gt;
                <div class="fuse-widget-front">

                    <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                        <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text mr-8">place</mat-icon>
                            {{widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].name}}
                        </div>

                        <div>
                            <button [matMenuTriggerFor]="moreMenu" aria-label="more" mat-icon-button>
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button aria-label="Flip widget" mat-menu-item>
                                    Details
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-icon
                                [fontIcon]="widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].icon"
                                class="icon s-40 secondary-text mr-16"
                                fontSet="meteocons"></mat-icon>
                            <span class="mat-display-2 m-0 font-weight-300 secondary-text">
                                {{widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].temp[widgets.weatherWidget.tempUnit]}}
                            </span>
                            <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                            <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">C</span>
                        </div>
                    </div>

                    <div class="p-16 by" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 secondary-text mr-8" fontIcon="icon-windy"
                                      fontSet="meteocons"></mat-icon>
                            <span>
                                {{widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].windSpeed[widgets.weatherWidget.speedUnit]}}
                            </span>
                            <span class="secondary-text ml-5">{{widgets.weatherWidget.speedUnit}}</span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 secondary-text mr-8" fontIcon="icon-compass"
                                      fontSet="meteocons"></mat-icon>
                            <span>
                                {{widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].windDirection}}
                            </span>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 secondary-text mr-8" fontIcon="icon-rainy"
                                      fontSet="meteocons"></mat-icon>
                            <span>
                                {{widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].rainProbability}}
                            </span>
                        </div>
                    </div>

                    <div class="py-16">
                        <div
                            *ngFor="let day of widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].next3Days"
                            class="py-16 px-24" fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <span class="h4">{{day.name}}</span>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon [fontIcon]="day.icon" class="secondary-text mr-16"
                                          fontSet="meteocons"></mat-icon>
                                <span class="h2">{{day.temp[widgets.weatherWidget.tempUnit]}}</span>
                                <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                <span class="h2 font-weight-300 secondary-text">
                                    {{widgets.weatherWidget.tempUnit}}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                &lt;!&ndash; / Front &ndash;&gt;

            </fuse-widget>
-->
                <!-- / WEATHER WIDGET -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

</div>
