<div *ngIf="tasks?.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span class="no-tasks-text hint-text">Il n'y a pas de tâches !</span>
</div>
<div class="task-list" ngxDroppable [model]="tasks" (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
    <task-list-item class="task-list-item has-handle"
                    *ngFor="let task of tasks" [task]="task"
                    ngxDraggable
                    [model]="task"
                    (click)="roleUtils.canUpdateTask()?readTask(task.id):'javascript:void(0);'"
                    [ngClass]="{'current-task':task?.id == currentTask?.id}"
                    matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}">
    </task-list-item>
</div>
