<div class="page-layout carded fullwidth inner-scroll" id="sector-activities">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    people
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Secteur d'activités
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un secteur">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div>
                <button [routerLink]="'/views/setting/sector-activities/new'"
                        class="add-product-button fuse-white mt-24 mt-md-0"
                        mat-raised-button>
                    <mat-icon>add</mat-icon>
                    <span>NOUVEAU SECTEUR</span>
                </button>&nbsp;
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table
                       [@animateStagger]="{value:'50'}" [dataSource]="dataSource"
                       class="sector-activities-table"
                       fusePerfectScrollbar
                       matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let sector">
                        <p class="text-truncate">{{sector.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let sector">
                        <p class="text-truncate">{{sector.description}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="enabled">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs mat-sort-header>Activé</mat-header-cell>
                    <mat-cell *matCellDef="let sector" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="sector.enabled" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!sector.enabled" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let sector; columns: displayedColumns;"
                         [routerLink]="'/views/setting/sector-activities/'+sector.id+'/'+sector.name"
                         class="sector-activity"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10">
            </mat-paginator>

        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
