<div class="page-layout carded fullwidth inner-scroll" id="project-folder">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    folder
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Dossier projet
                </span>
            </div>

            <div *ngIf="roleUtils.canReadAllProjectFolder()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un client ou prospect">
                    <mat-icon>people</mat-icon>
                    <div class="priority-label" *ngIf="!selectedCustomer || !selectedCustomer.id">Selectionner un client ou prospect</div>
                    <div class="priority-label"
                         *ngIf="selectedCustomer && selectedCustomer.id">Client / Prospect : {{selectedCustomer?.name}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchCustomerInput matInput type="text" placeholder="Rechercher un client ou prospect"
                           autocomplete="off"
                           (input)="onListItemFiltering('customer', $event.target.value)"
                           focused="'true'">
                </span>
                    </button>
                    <button class="nav-item" mat-menu-item (click)="onCustomerSelected(null)">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les clients ou prospects</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let customer of filteredCustomers"
                            (click)="onCustomerSelected(customer)">
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{customer.name}}</span>
                    </button>
                </mat-menu>

            </div>

            <div *ngIf="roleUtils.canReadAllProjectFolder()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un agent">
                    <mat-icon>person</mat-icon>
                    <div class="priority-label" *ngIf="!selectedUser || !selectedUser.id">Selectionner un agent</div>
                    <div class="priority-label"
                         *ngIf="selectedUser && selectedUser.id">Agent : {{selectedUser?.firstname}} {{selectedUser?.lastname}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchUserInput matInput type="text" placeholder="Rechercher un agent"
                           autocomplete="off"
                           (input)="onListItemFiltering('user', $event.target.value)"
                           focused="'true'">
                </span>
                    </button>
                    <button class="nav-item" mat-menu-item (click)="onUserSelected(null)">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les utilisateurs</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let user of filteredUsers"
                            (click)="onUserSelected(user)">
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                </mat-menu>

            </div>


            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter
                           placeholder="Rechercher un dossier"/>
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div fxLayoutAlign="end">
                <button *ngIf="roleUtils.canCreateProjectFolder()" (click)="showFolderDialog('add', null)" mat-fab
                        class="accent" id="add-prospect-button"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <mat-table #table [dataSource]="dataSource"
                       class="prospects-table"
                       matSort>

                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client/Prospect</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.customer.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Projet/Dossier</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Priorité</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <div class="priorities" fxLayout="row wrap" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': pf.priority==='LOW'?'#B5B5B5': pf.priority==='MEDIUM'?'#FF9800': pf.priority==='HIGH'?'#F44336':'#F44336'}"></div>
                                <div class="priority-label">{{projectFolderPriority[pf.priority]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <div class="priorities" fxLayout="row wrap" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': pf.state==='TODO'?'#0091EA': pf.state==='IN_PROGRESS'?'#FF9800': pf.state==='DONE'?'#388E3C':'#F44336'}"></div>
                                <div class="priority-label">{{projectFolderState[pf.state]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chanceRate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Taux de chance</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.chanceRate?pf.chanceRate+'%':0}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ca">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CA prévisionnel</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.turnover | number:'':'fr-FR'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="clientBudget">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Budget client</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.clientBudget | number:'':'fr-FR'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Personne en charge</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.agent?.firstname}} {{pf.agent?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="notes">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Notes</mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <p class="text-truncate">{{pf.note}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let pf">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button [matMenuTriggerFor]="card19Menu" aria-label="more"
                                    mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #card19Menu="matMenu">
                                <button *ngIf="roleUtils.canUpdateProjectFolder()"
                                        (click)="showFolderDialog('edit', pf)"
                                        mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button *ngIf="roleUtils.canDeleteProjectFolder()" (click)="delete(pf)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let folder; columns: displayedColumns;"
                         class="folder"
                         matRipple
                         [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData?.length"
                           [pageIndex]="0"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10">
            </mat-paginator>


        </div>

    </div>

</div>
