@import "src/@fuse/scss/fuse";

project-folder {

    #project-folder {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                    .customer-selector {
                        min-width: 320px;
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }

    }

    .prospects-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .folder {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .card {
                display: flex;
                align-items: center;
                padding: 13px 13px 13px 13px;
                margin-bottom: 13px;

                .card-preview {
                    display: flex;
                    min-width: 144px;
                }

                .card-source {
                    display: none;
                }
            }
        }

        .mat-header-row {
            min-height: 64px;
        }

        .mat-header-cell {
            font-size: 15px;
            font-weight: bold;
        }

        .prospect {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .prospect-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-category {
            flex: 0 1 240px;
        }

        .mat-column-price {
            flex: 0 1 160px;
        }

        .mat-column-quantity {
            flex: 0 1 160px;
        }

        .mat-column-active {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .priorities {

            .priority {
                background-color: rgba(0, 0, 0, 0.08);
                font-size: 11px;
                border-radius: 2px;
                margin: 8px 4px 0 0;
                padding: 3px 8px;

                .priority-color {
                    width: 13px;
                    height: 13px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .priority-color-2 {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .priority-label {
                    font-weight: bold;
                    font-size: 13px;
                }

                .priority-label-amount {
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }

        .active-icon {
            border-radius: 50%;
        }

        @media (min-width: 576px) {


            .card-columns {


                column-count: 2;


            }


        }


        @media (min-width: 768px) {


            .card-columns {


                column-count: 3;


            }


        }


        @media (min-width: 992px) {


            .card-columns {


                column-count: 3;


            }


        }


        @media (min-width: 1200px) {


            .card-columns {


                column-count: 4;


            }


        }
    }

}



