<div id="role" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/views/admin/roles'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{role.name}}
                    </div>
                    <!--<div class="h2" *ngIf="pageType ==='new'">
                        Nouveau Rôle
                    </div>-->
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="roleForm.invalid"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button (click)="update()"
                    class="save-product-button"
                    [disabled]="roleForm.invalid"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="roleForm" [formGroup]="roleForm" class="role w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Nom du rôle</mat-label>
                            <input matInput placeholder="Nom du rôle"
                                   name="name"
                                   formControlName="name"
                                   required readonly>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Description du rôle</mat-label>
                            <textarea matInput placeholder="Description du rôle"
                                      name="description"
                                      formControlName="description"
                                      rows="5">
                                    </textarea>
                        </mat-form-field>
                        <div>
                            <mat-checkbox (change)="selectAll($event)">Tout sélectionner</mat-checkbox>
                            <mat-divider></mat-divider>
                            <div class="checkbox-grid" formArrayName="privileges" *ngFor="let pr of roleForm.controls.privileges['controls']; let i = index">
                                <mat-checkbox (change)="itemCheek(i)" [(ngModel)]="privileges[i].checked" [formControlName]="i">{{privileges[i].name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
