<div class="page-layout carded fullwidth inner-scroll" id="quote-traces">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-xs="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    settings
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">Traces Devis</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher une trace">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table
                       [@animateStagger]="{value:'50'}" [dataSource]="dataSource"
                       class="quote-traces-table"
                       fusePerfectScrollbar
                       matSort>

                <!-- number Column -->
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Devis</mat-header-cell>
                    <mat-cell *matCellDef="let quote">
                        <p class="text-truncate">{{quote.number}}</p>
                    </mat-cell>
                </ng-container>

                <!-- reason Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm mat-sort-header>Date</mat-header-cell>
                    <mat-cell *matCellDef="let quote" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{quote.date |  date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- reason Column -->
                <ng-container matColumnDef="reason">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm mat-sort-header>Commentaire</mat-header-cell>
                    <mat-cell *matCellDef="let quote" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{quote.reason}}</p>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let quote; columns: displayedColumns;"
                         class="quote-trace"
                         matRipple>
                </mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
