<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img class="avatar contact-avatar huge m-0" class="avatar" src="assets/images/avatars/invoice.png">
        </mat-toolbar-row>
    </mat-toolbar>

    <http-spinner-small></http-spinner-small>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="invoicePaymentForm" name="invoicePaymentForm">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="line" class="pr-4" fxFlex="50">
                    <mat-label>Montant total de la facture</mat-label>
                    <input type="text" formControlName="total" readonly mask="separator" matInput>
                </mat-form-field>
                <mat-form-field appearance="line" class="pr-4" fxFlex="50">
                    <mat-label>Reste à payer</mat-label>
                    <input type="text" formControlName="stayToPay" readonly mask="separator" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="{{action==='validate'?'line':'outline'}}" fxFlex>
                    <mat-label>Net à Payer</mat-label>
                    <input *ngIf="action === 'issue'" #d (input)="checkNetToPay(d.value)" type="text" required
                           name="netToPay" formControlName="netToPay" mask="separator" matInput
                    autocomplete="off">
                    <input *ngIf="action === 'validate'" readonly type="text" required
                           name="netToPay" formControlName="netToPay" mask="separator" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="action==='validate'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Montant Payé</mat-label>
                    <input type="text" required name="amount" readonly
                           formControlName="amount" mask="separator" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="action==='validate'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date de paiement</mat-label>
                    <input matInput [matDatepicker]="paymentDateDatePicker" name="paymentDate"
                           formControlName="paymentDate" required readonly [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="paymentDateDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDateDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div *ngIf="action==='validate'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Mode de reglement</mat-label>
                    <mat-select formControlName="methodOfPayment" required>
                        <mat-option *ngFor="let method of methodes"
                                    [value]="method">{{methodOfPaymentEnum[method]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="action==='validate'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Référence de Paiement</mat-label>
                    <input formControlName="reference" matInput>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button (click)="matDialogRef.close()"
                mat-button
                class="mr-8"
                aria-label="Delete"
                matTooltip="Delete">
            ANNULER
        </button>

        <button (click)="save()"
                mat-button
                class="save-button"
                [disabled]="invoicePaymentForm.invalid"
                aria-label="SAVE">
            {{action === 'issue' ? 'ENREGISTRER' : action === 'validate' ? 'VALIDER' : ''}}
        </button>
    </div>

</div>
