<div class="page-layout carded fullwidth inner-scroll" id="category">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    list
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Catégorie produit
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter (keyup.*)="applyFilter($event.target.value)" [(ngModel)]="searchText"
                           placeholder="Rechercher une catégorie"/>
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div fxLayoutAlign="end">
                <button *ngIf="roleUtils.canCreateProductCategory()" (click)="showCategoryDialog('add', null)" mat-fab
                        class="accent" id="add-prospect-button"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <mat-table #table
                       [@animateStagger]="{value:'50'}" [dataSource]="dataSource"
                       class="prospects-table"
                       matSort>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let c">
                        <p class="text-truncate">{{c.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let c">
                        <p class="text-truncate">{{c.description}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let c">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button [matMenuTriggerFor]="card19Menu" aria-label="more"
                                    mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #card19Menu="matMenu">
                                <button *ngIf="roleUtils.canUpdateProductCategory()"
                                        (click)="showCategoryDialog('edit', null)"
                                        mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button *ngIf="roleUtils.canDeleteProductCategory()" (click)="delete(c)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let category; columns: displayedColumns;"
                         class="category"
                         matRipple
                         [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData?.length"
                           [pageIndex]="0"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10">
            </mat-paginator>


        </div>

    </div>

</div>
