<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0" matDialogTitle>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img class="avatar contact-avatar huge m-0" class="avatar" src="assets/images/avatars/invoice.png">
            <div class="contact-name mt-8">Devis N° :  {{devis.number}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="p-24 pb-0 m-0" fusePerfectScrollbar mat-dialog-content>

        <http-spinner-small></http-spinner-small>

        <form [formGroup]="invoiceDialogForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date facture</mat-label>
                    <input [matDatepicker]="invoiceDateDatePicker" formControlName="invoiceDate" matInput
                           name="invoiceDate" (dateInput)="addEvent($event)" required>
                    <mat-datepicker-toggle [for]="invoiceDateDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #invoiceDateDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date d'echeance</mat-label>
                    <input [matDatepicker]="dueDateDatePicker" [min]="minDate"
                           formControlName="dueDate" matInput name="dueDate">
                    <mat-datepicker-toggle [for]="dueDateDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #dueDateDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="textarea-wrapper" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Titre</mat-label>
                    <textarea formControlName="title" matInput max-rows="4" name="title"
                              type="text" required></textarea>
                </mat-form-field>
            </div>

            <div class="textarea-wrapper" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Reference</mat-label>
                    <input formControlName="reference" matInput name="reference"
                           type="text">
                </mat-form-field>
            </div>

        </form>

    </div>

    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>

        <button (click)="matDialogRef.close()"
                *ngIf="action === 'new'"
                aria-label="Delete"
                class="mr-8"
                mat-button
                matTooltip="Delete">
            ANNULER
        </button>

        <button (click)="save()"
                *ngIf="action === 'new'"
                [disabled]="invoiceDialogForm.invalid"
                aria-label="SAVE"
                class="save-button"
                mat-button>
            ENREGISTRER
        </button>

    </div>
</div>
