<div class="page-layout carded fullwidth inner-scroll" id="devis-details">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent doNotPrint"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent doNotPrint"
             fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/views/invoice/devis'" class="mr-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div class="h2">
                        Devis {{devisDetails.number}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Pour</span>&nbsp;
                        <span>{{devisDetails.customer?.name}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div *ngIf="(devisDetails.createBy.id == currentUser?.id) || roleUtils.canReadAllDevis()"
                 [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <button
                    *ngIf="roleUtils.canUpdateDevis() && (devisDetails.state == 'OPEN' && !devisDetails.invoiceGenerated)"
                    mat-raised-button
                    [routerLink]="'/views/invoice/devis/'+devisDetails.id+'/'+devisDetails.number">
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                </button>
                <button *ngIf="roleUtils.canPrintDevis()" mat-raised-button style="margin-left: 5px;"
                        [routerLink]="'/views/invoice/devis-print/'+devisDetails.id">
                    <mat-icon>print</mat-icon>
                    <span>Imprimer</span>
                </button>
                <button
                    *ngIf="roleUtils.canConvertDevis() && (devisDetails.state === 'OPEN' && !devisDetails.invoiceGenerated)"
                    mat-raised-button style="margin-left: 5px;" (click)="newInvoice(devisDetails)">
                    <mat-icon>add</mat-icon>
                    <span>Convertir en Facture</span>
                </button>
                <button *ngIf="roleUtils.canDuplicateDevis() && devisDetails.canDuplicate" mat-raised-button
                        style="margin-left: 5px;"
                        [routerLink]="'/views/invoice/devis/'+devisDetails.id+'/canDuplicate'">
                    <mat-icon>edit</mat-icon>
                    <span>Dupliquer</span>
                </button>
                <button
                    *ngIf="roleUtils.canCancelDevis() && (devisDetails.state === 'OPEN' || devisDetails.state === 'VALIDATE')"
                    mat-raised-button style="margin-left: 5px;" (click)="cancel(devisDetails)">
                    <mat-icon>close</mat-icon>
                    <span>Annuler</span>
                </button>
                <button
                    *ngIf="roleUtils.canDeleteDevis() && (devisDetails.state === 'DUPLICATE' || devisDetails.state === 'CANCEL')"
                    mat-raised-button style="margin-left: 5px;" (click)="delete(devisDetails)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxFlex fxLayout="column">

                    <mat-tab label="Détails devis">
                        <div class="devisLines p-24" fusePerfectScrollbar fxLayout="column">
                            <div class="section pb-48">
                                <div fxLayout="column" fxLayout.gt-md="row">
                                    <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                                        <div style="width: 500px;">
                                            <strong>Client/Prospect</strong>
                                            <p>{{devisDetails.customer.name}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Numéro</strong>
                                            <p>{{devisDetails.number}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Objet</strong>
                                            <p>{{devisDetails.title}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Adresse Facturation</strong><br>
                                            <p>{{devisDetails.invoiceAddress}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Date du devis</strong><br>
                                            <p>{{devisDetails.devisDate | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </div>

                                    <div class="preview" fxFlex="50" fxLayout="column"
                                         fxLayoutAlign="center">
                                        <div style="width: 500px;">
                                            <strong>Personne en charge</strong>
                                            <p>{{devisDetails.agent?.firstname}} {{devisDetails.agent?.lastname}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Facture Générée</strong><br>
                                            <mat-icon *ngIf="devisDetails.invoiceGenerated"
                                                      class="active-icon green-600 s-16">check
                                            </mat-icon>
                                            <mat-icon *ngIf="!devisDetails.invoiceGenerated"
                                                      class="active-icon red-500 s-16">close
                                            </mat-icon>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Commentaire</strong>
                                            <p>{{devisDetails.comment}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Commentaire Privé</strong>
                                            <p>{{devisDetails.privateComment}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Taxe</strong>
                                            <p>{{devisDetails.taxValue ? devisDetails.taxValue + ' %' : 'Pas de taxe'}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Remise</strong>
                                            <p>{{devisDetails.discount| number:'':'fr-FR'}} F CFA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section pb-48">
                                <div class="devisLines tab-content p-24" class="Print" fusePerfectScrollbar>
                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th class="w-80">Designation</th>
                                            <th class="w-120">Prix Unitaire</th>
                                            <th class="w-120">Quantité</th>
                                            <th class="w-80">Montant</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let line of devisLines"
                                            class="devisLine-row">
                                            <td>
                                                {{line.designation}}
                                            </td>
                                            <td>
                                                {{line.unitPrice | number:'':'fr-FR'}}
                                            </td>
                                            <td>
                                                {{line.quantity | number:'':'fr-FR'}}
                                            </td>
                                            <td>
                                                {{line.amount | number:'':'fr-FR'}} F CFA
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
