<div class="page-layout carded fullwidth inner-scroll" id="crud-facture">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button *ngIf="pageType === 'new'" [routerLink]="'/views/invoice/factures'" class="mr-0 mr-sm-16"
                        mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button *ngIf="pageType === 'edit'"
                        [routerLink]="'/views/invoice/details/'+invoice.id"
                        class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div *ngIf="pageType ==='edit'" class="h2">
                        FACT - {{invoice.number}}
                    </div>
                    <div *ngIf="pageType ==='new'" class="h2">
                        Nouvelle Facture
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                (click)="save()"
                *ngIf="!invoice.id"
                [disabled]="invoiceForm.invalid || !isLinesCorrect()"
                class="save-product-button" mat-raised-button>
                <span>ENREGISTRER</span>
            </button>

            <button
                (click)="save()"
                *ngIf="invoice.id"
                [disabled]="invoiceForm.invalid || !isLinesCorrect()"
                class="save-product-button"
                mat-raised-button>
                <span>MODIFIER</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card">

            <http-spinner></http-spinner>

            <div class="content p-24">
                <div fusePerfectScrollbar>
                    <div class="divServicesIntervention mb-24" fxLayout="column" fxLayout.gt-md="row"
                         fxLayoutAlign="start">
                        <form [formGroup]="invoiceForm" class="mat-card mat-elevation-z4 p-24 mr-24" fxFlex="1 0 auto"
                              fxLayout="column" fxLayoutAlign="start" name="form"
                              style="margin-top: 2%">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Objet</mat-label>
                                    <input formControlName="title" matInput required>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                                <mat-form-field appearance="outline" fxFlex="33">
                                    <mat-label>Référence</mat-label>
                                    <input formControlName="reference" matInput>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="px-8" [fxFlex]="invoice.id?'34':'50'">
                                    <mat-label>Client</mat-label>
                                    <mat-select *ngIf="invoice.id" formControlName="customer">
                                        <mat-option [value]="invoice.customer.id">
                                            {{invoice?.customer?.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="!invoice.id" required
                                                (selectionChange)="findCustomerSelected($event.value)"
                                                formControlName="customer">
                                        <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                            {{customer.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" [fxFlex]="invoice.id?'34':'50'">
                                    <mat-label>Date facture</mat-label>
                                    <input [matDatepicker]="picker" formControlName="invoiceDate" required
                                           (dateInput)="addEvent($event)"
                                           matInput>
                                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                    <mat-label>Date d'echeance</mat-label>
                                    <input [matDatepicker]="dueDateDatePicker" [min]="minDate"
                                           formControlName="dueDate" matInput
                                           name="dueDate">
                                    <mat-datepicker-toggle [for]="dueDateDatePicker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #dueDateDatePicker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                    <mat-label>Adresse Facturation</mat-label>
                                    <textarea formControlName="invoiceAddress" matInput
                                              placeholder="Addresse de facturation"
                                              rows="2">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                    <mat-label>Modalité Paiement</mat-label>
                                    <mat-select formControlName="methodOfPayment" required>
                                        <mat-option *ngFor="let method of methodes"
                                                    [value]="method">{{methodOfPaymentEnum[method]}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="px-4" fxFlex="50">
                                    <mat-label>Devis</mat-label>
                                    <mat-select *ngIf="invoice.id" formControlName="devis">
                                        <mat-option [value]="invoice?.devis?.id">
                                            {{invoice?.devis?.number}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="!invoice.id" (selectionChange)="getDevis($event.value)"
                                                formControlName="devis" required>
                                        <mat-option [value]="0" [routerLink]="'/views/invoice/devis/new'">
                                            <mat-icon>add</mat-icon>
                                            Créer un devis
                                        </mat-option>
                                        <mat-option *ngFor="let dev of devis" [value]="dev.id">
                                            {{dev.number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </form>
                        <form [formGroup]="invoiceForm" class="mat-card mat-elevation-z4 p-24 mr-24" fxFlex="1 0 auto"
                              fxLayout="column" fxLayoutAlign="start" name="form"
                              style="margin-left: 1%; margin-top: 2%">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                    <mat-label>Commentaire</mat-label>
                                    <textarea formControlName="comment" matInput
                                              placeholder="Commentaire du devis"
                                              rows="3">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                    <mat-label>Commentaire Privé</mat-label>
                                    <textarea formControlName="privateComment" matInput
                                              placeholder="Commentaire note interne"
                                              rows="3">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Delais de livraison</mat-label>
                                    <textarea formControlName="deliveryDelay" matInput
                                              placeholder="Delais de livraison"
                                              rows="2">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <button (click)="addDiscount()" *ngIf="!discountVisibility && !discount"
                                        class="submit-button"
                                        color="accent" mat-stroked-button>
                                    <span>Inclure une remise</span>
                                </button>
                                <mat-form-field *ngIf="discountVisibility || discount" class="pr-4" fxFlex="50"
                                                readonly>
                                    <mat-label>Remise</mat-label>
                                    <input #d (input)="includeDiscount(d.value)" formControlName="discount"
                                           mask="separator" matInput type="text">
                                </mat-form-field>
                                <button (click)="cancelDiscount()" *ngIf="discountVisibility || discount"
                                        class="submit-button" color="accent"
                                        mat-stroked-button style="width: 100%;">
                                    <span>Annuler</span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="divServicesIntervention">
                        <div class="responsiveTbl">
                            <table>
                                <thead>
                                <tr>
                                    <th style="text-align: center;">N°</th>
                                    <th style="text-align: center;">Désignation
                                    </th>
                                    <th style="text-align: center;">Quantité</th>
                                    <th style="text-align: center;">Prix
                                        Unitaire
                                    </th>
                                    <th style="text-align: center;">Montant HT
                                    </th>
                                    <th style="text-align: center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let line of invoiceLines; let i=index">

                                    <td>{{i + 1}}</td>
                                    <td>
                                        <textarea [(ngModel)]="line.designation" id="designation_{{i}}"
                                                  matInput></textarea>
                                    </td>
                                    <td>
                                        <input (change)="onInvoiceLineChanged(i)" (keyup)="onInvoiceLineChanged(i)"
                                               [(ngModel)]="line.quantity" id="quantity_{{i}}" mask="separator"
                                               matInput min="1" type="text"/>
                                    <td>
                                        <input (change)="onInvoiceLineChanged(i)" (keyup)="onInvoiceLineChanged(i)"
                                               (keyup.enter)="addNewRow()"
                                               [(ngModel)]="line.unitPrice" id="unitPrice_{{i}}" mask="separator"
                                               matInput min="1" type="text"
                                        />
                                    </td>
                                    <td>{{line.amount | number:'':'fr-FR'}}</td>
                                    <td>
                                            <span>
                                                <a (click)="deleteLine(i)" href="javascript:void(0);">
                                                    <mat-icon>delete</mat-icon>
                                                </a>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                                <button (click)="addNewRow()" class="submit-button"
                                        color="accent" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                                <tfoot>
                                <tr class="text-style">
                                    <th colspan="4"
                                        id="Subtotal"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">
                                        Sous-Total
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{subTotal | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr *ngIf="discountVisibility || discount" class="text-style">
                                    <th colspan="4"
                                        id="discount"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">Remise
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{discount | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr class="text-style">
                                    <th colspan="4" [matMenuTriggerFor]="taxMenu"
                                        id="tva"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">TVA
                                        ({{taxValue}} %)

                                        <mat-menu #taxMenu="matMenu" xPosition="after">
                                            <button class="nav-item" mat-menu-item (click)="getTaxeSelected(0)">
                                                <span>Pas de taxe</span>
                                            </button>
                                            <button class="nav-item" mat-menu-item *ngFor="let tax of taxes"
                                                    (click)="getTaxeSelected(tax.value)">
                                                <span>{{tax.value}} %</span>
                                            </button>
                                        </mat-menu>
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{taxAmount | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                <tr class="text-style">
                                    <th colspan="4"
                                        id="total"
                                        style="background-color: inherit !important; color: #5F5F60 !important;">Total
                                    </th>
                                    <td style="text-align: right; color: #A61341 !important;">{{total | number:'':'fr-FR'}}
                                        F CFA
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->

