task-main-sidebar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;

    .header {

        .logo {

            .logo-icon {
                margin: 0 16px 0 0;
            }

            .logo-text {
                font-size: 24px;
                line-height: 24px;
            }
        }

        .account {
            width: 100%;
        }
    }
}
