<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <http-spinner-small></http-spinner-small>

        <form [formGroup]="productCategoryForm" name="productCategoryForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="100">
                    <mat-label>Nom</mat-label>
                    <input type="text" formControlName="name" matInput required>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Description</mat-label>
                    <input type="text" formControlName="description" matInput>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button (click)="matDialogRef.close()"
                mat-button
                class="mr-8"
                aria-label="Delete"
                matTooltip="Delete">
            ANNULER
        </button>

        <button (click)="save()" mat-button class="save-button"
                [disabled]="productCategoryForm?.invalid" aria-label="SAVE">
            {{action === 'add' ? 'ENREGISTRER' : action === 'edit' ? 'MODIFIER' : ''}}
        </button>
    </div>

</div>

