<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">

    <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef>Référence</mat-header-cell>
        <mat-cell *matCellDef="let product">
            <p class="text-truncate font-weight-600">{{product.reference}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Designation</mat-header-cell>
        <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{product.designation}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitPriceXOF">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>PU CFA</mat-header-cell>
        <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{product.unitPriceXOF | number:'':'fr-FR'}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let product">
            <div fxFlex="row" fxLayoutAlign="end center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteProduct(product)">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    <mat-row *matRowDef="let product; columns: displayedColumns;"
             class="product"
             (click)="editProduct(product)"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


