<div class="page-layout simple right-sidebar" fxLayout="row" id="invoice-dashboard">
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <http-spinner></http-spinner>


        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span [@animate]="{value:'*',params:{x:'50px'}}"
                      class="mat-display-1 my-0 my-sm-24 welcome-message">Tableau de bord de la Facturation
                </span>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <div *fuseIfOnDom [@animateStagger]="{value:'50'}" class="widget-group p-12" fxFlex="100"
                 fxLayout="row wrap">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div
                                style="text-align: center;font-size: 30px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                Total Facture
                                <div style="text-align: center;font-size: 20px">
                                    {{invoiceDashBody.totalInvoice| number:'':'fr-FR'}} F CFA
                                </div>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div
                                style="text-align: center;font-size: 30px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                Total payer
                                <div style="text-align: center;font-size: 20px">
                                    {{invoiceDashBody.sumAmountPaid| number:'':'fr-FR'}} F CFA
                                </div>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div
                                style="text-align: center;font-size: 30px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                Total Reste à payer
                                <div style="text-align: center;font-size: 20px">
                                    {{invoiceDashBody.sumStayToPay| number:'':'fr-FR'}} F CFA
                                </div>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-md="25" fxFlex.gt-xs="50" fxLayout="column">

                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div
                                style="text-align: center;font-size: 30px; font-weight: bold;color: #5F5F60;text-transform: uppercase;">
                                Total Devis Ouvert
                                <div style="text-align: center;font-size: 20px">
                                    {{invoiceDashBody.totalDevisOpen| number:'':'fr-FR'}} F CFA
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-sm="50" fxLayout="column">
                    <div class="fuse-widget-front">
                        <div class="h-400">
                            <mat-table class="dash-table"
                                       #table [dataSource]="invoices"
                                       matSort
                                       [@animateStagger]="{value:'50'}"
                                       fusePerfectScrollbar>
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
                                    <mat-cell *matCellDef="let invoice">
                                        <p class="text-truncate">FAC - {{invoice.number}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="amountPaid">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Payer</mat-header-cell>
                                    <mat-cell *matCellDef="let invoice">
                                        <p class="text-truncate">{{invoice.amountPaid| number:'':'fr-FR'}} F CFA</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="stayToPay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Reste à Payer
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let invoice">
                                        <p class="text-truncate">{{invoice.stayToPay| number:'':'fr-FR'}} F CFA</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="discount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Totale Remise</mat-header-cell>
                                    <mat-cell *matCellDef="let invoice">
                                        <p class="text-truncate">{{invoice.discount| number:'':'fr-FR'}} F CFA</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="total">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Montant Total</mat-header-cell>
                                    <mat-cell *matCellDef="let invoice">
                                        <p class="text-truncate">{{invoice.total| number:'':'fr-FR'}} F CFA</p>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                                <mat-row *matRowDef="let invoice; columns: displayedColumns;"
                                         class="dev"
                                         matRipple>
                                </mat-row>

                            </mat-table>

                            <mat-paginator [length]="_invoiceDashboardService.totalElements"
                                           (page)="onPageChanged($event)"
                                           [pageSizeOptions]="[30, 100]">
                            </mat-paginator>
                        </div>

                    </div>
                </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxFlex="100"
                             fxFlex.gt-sm="50" fxLayout="column">
                    <div class="fuse-widget-front">
                        <div class="h-400">
                            <app-widget-pie [data]="pieChart"></app-widget-pie>
                        </div>
                    </div>
                </fuse-widget>
            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
