.dash-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
        min-height: 64px;
    }

    .dev {
        position: relative;
        cursor: pointer;
        height: 84px;
    }

    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
    }

    .mat-column-id {
        flex: 0 1 84px;
    }

    .mat-column-image {
        flex: 0 1 84px;

        .dev-image {
            width: 52px;
            height: 52px;
            border: 1px solid rgba(0, 0, 0, .12);
        }
    }

    .mat-column-category {
        flex: 0 1 240px;
    }

    .mat-column-price {
        flex: 0 1 160px;
    }

    .mat-column-quantity {
        flex: 0 1 160px;
    }

    .mat-column-active {
        flex: 0 1 80px;
    }

    .quantity-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;

        & + span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .active-icon {
        border-radius: 50%;
    }

}
#invoice-dashboard {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {
        .fond {
            font-family: "Times New Roman", Times, serif;
        }

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-invoice {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .invoice-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;
        }
    }

    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }

}