<div class="page-layout carded fullwidth inner-scroll" id="facture-details">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent doNotPrint"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent doNotPrint"
             fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/views/invoice/factures'" class="mr-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div class="h2">
                        Facture {{invoice.number}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{invoice?.title}}</span> -
                        <span>{{invoice?.customer.name}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div>
                <button
                    *ngIf=" roleUtils.canUpdateInvoice() && (invoice.state != INVOICE_STATE.VALIDATE && invoice.editable)"
                    mat-raised-button [routerLink]="'/views/invoice/factures/'+invoice.id+'/'+invoice.number">
                    <mat-icon>edit</mat-icon>
                    <span>Modifier</span>
                </button>
                <button *ngIf="roleUtils.canValidateInvoice() && (invoice.state === INVOICE_STATE.OPEN)"
                        mat-raised-button style="margin-left: 5px;" (click)="validation(invoice)">
                    <mat-icon>check</mat-icon>
                    <span>Valider</span>
                </button>
                <button
                    *ngIf="roleUtils.canPayInvoice() && (invoice.state === INVOICE_STATE.VALIDATE || invoice.state === INVOICE_STATE.IN_PAYMENT)"
                    mat-raised-button style="margin-left: 5px;"
                    (click)="issuePayment('issue', invoice)">
                    <mat-icon>assignment</mat-icon>
                    <span>Émettre un paiement</span>
                </button>
                <button
                    *ngIf="roleUtils.canCancelInvoice() && (invoice.state === INVOICE_STATE.OPEN || invoice.state === INVOICE_STATE.VALIDATE)"
                    mat-raised-button style="margin-left: 5px;"
                    (click)="cancel(invoice)">
                    <mat-icon>close</mat-icon>
                    <span>Annuler</span>
                </button>
                <button *ngIf="roleUtils.canDeleteInvoice() && (invoice.state === INVOICE_STATE.CANCEL)"
                        mat-raised-button style="margin-left: 5px;" (click)="delete(invoice)">
                    <mat-icon>delete</mat-icon>
                    <span>Supprimer</span>
                </button>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxFlex fxLayout="column">

                    <mat-tab label="Détails facture">
                        <div class="invoiceLines p-24" fusePerfectScrollbar fxLayout="column">
                            <div class="section pb-48">
                                <div fxLayout="column" fxLayout.gt-md="row">
                                    <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                                        <div style="width: 500px;">
                                            <strong>Client/Prospect</strong>
                                            <p>{{invoice.customer.name}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Numéro</strong>
                                            <p>{{invoice.number}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Référence</strong>
                                            <p>{{invoice.reference}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Devis</strong>
                                            <p>{{invoice.devis.number}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Etat :
                                                <div class="priorities"
                                                     fxLayout="row"
                                                     fxLayoutAlign="start center">
                                                    <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                                        <div class="priority-color"
                                                             [ngStyle]="{'background-color': invoice.state===INVOICE_STATE.OPEN?'#FF9800':invoice.state===INVOICE_STATE.CLOSE?'#388E3C':invoice.state===INVOICE_STATE.VALIDATE ?'#b2fff1':invoice.state===INVOICE_STATE.IN_PAYMENT ?'#508e55':invoice.state===INVOICE_STATE.PAID ?'#3E8E59':'#F44336'}"></div>
                                                        <div
                                                            class="priority-label">{{invoiceState[invoice.state]}}</div>
                                                    </div>
                                                </div>
                                            </strong>
                                        </div>
                                        <br/>
                                        <div style="width: 500px;">
                                            <strong>Delais de Livraison</strong>
                                            <p>{{invoice.deliveryDelay}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Adresse Facturation</strong><br>
                                            <p>{{invoice.invoiceAddress}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Date de la facture</strong><br>
                                            <p>{{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Facture créee le</strong><br>
                                            <p>{{invoice.createDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Par </strong><br>
                                            <p>{{invoice.createBy?.firstname}} {{invoice.createBy?.lastname}}</p>
                                        </div>
                                    </div>

                                    <div class="preview" fxFlex="50" fxLayout="column"
                                         fxLayoutAlign="center">
                                        <div style="width: 500px;">
                                            <strong>Taxe</strong>
                                            <p>{{invoice.taxValue ? invoice.taxValue + ' %' : 'Pas de taxe'}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Remise</strong>
                                            <p>{{invoice.discount | number:'':'fr-FR'}} F CFA</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Montant à Payer</strong>
                                            <p>{{invoice.total | number:'':'fr-FR'}} F CFA</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Reste à Payer</strong>
                                            <p>{{invoice.stayToPay | number:'':'fr-FR'}} F CFA</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Date d'écheance</strong><br>
                                            <p>{{invoice.dueDate| date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Facture Payée</strong><br>
                                            <mat-icon *ngIf="invoice.paid" class="active-icon green-600 s-16">check
                                            </mat-icon>
                                            <mat-icon *ngIf="!invoice.paid" class="active-icon red-500 s-16">close
                                            </mat-icon>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Commentaire</strong>
                                            <p>{{invoice.comment}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Modalité de Paiment</strong>
                                            <p>{{methodofpayment[invoice.methodOfPayment]}}</p>
                                        </div>
                                        <div style="width: 500px;">
                                            <strong>Commentaire Privé</strong>
                                            <p>{{invoice.privateComment}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section pb-48">
                                <div class="invoiceLines tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th class="w-80">Designation</th>
                                            <th class="w-120">Prix Unitaire</th>
                                            <th class="w-120">Quantité</th>
                                            <th class="w-80">Montant</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let line of invoiceLines"
                                            class="devisLine-row">
                                            <td>
                                                {{line.designation}}
                                            </td>
                                            <td>
                                                {{line.unitPrice | number:'':'fr-FR'}}
                                            </td>
                                            <td>
                                                {{line.quantity | number:'':'fr-FR'}}
                                            </td>
                                            <td>
                                                {{line.amount | number:'':'fr-FR'}} F CFA
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab *ngIf="false" label="Facture">

                        <div class="invoice tab-content p-24" fusePerfectScrollbar>

                            <div class="compact page-layout blank" fusePerfectScrollbar fxLayout="row" id="invoice">

                                <div class="invoice-container">

                                    <!-- INVOICE -->
                                    <div class="card">

                                        <div class="header">
                                            <div
                                                class="invoice-date">{{invoice?.invoiceDate | date: 'dd/MM/yyyy'}}</div>

                                            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                                <div class="client">
                                                    <div class="invoice-number" fxLayout="row"
                                                         fxLayoutAlign="start center">
                                                        <span class="number">{{invoice?.number}}</span>
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">
                                                            {{invoice.customer?.name}}
                                                        </div>
                                                        <div class="address">
                                                            {{invoice.invoiceAddress}}
                                                        </div>
                                                        <div class="phone">{{invoice.customer?.telephoneOne}}</div>
                                                        <div class="email">{{invoice.customer?.email}}</div>
                                                    </div>
                                                </div>

                                                <div class="issuer dsn-dark" fxLayout="row"
                                                     fxLayoutAlign="start center">
                                                    <div style="max-width: 120px;">
                                                        <img src="assets/images/logos/dsn-logo.png">
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">DSN MALI</div>
                                                        <div class="address">Hamdallaye ACI 2000
                                                        </div>
                                                        <div class="phone">+223 20 29 02 17</div>
                                                        <div class="email">contact@dsnmali.com</div>
                                                        <div class="website">www.dsnmali.com</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content">

                                            <table class="simple invoice-table">
                                                <thead>
                                                <tr>
                                                    <th>PRODUITS</th>
                                                    <th class="text-right">PRIX</th>
                                                    <th class="text-right">QUANTITE</th>
                                                    <th class="text-right">TOTAL</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let line of invoiceLines">
                                                    <td>
                                                        <div class="title">
                                                            {{line.designation}}
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        {{line.unitPrice | number:'':'fr-FR'}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{line.quantity}}
                                                    </td>
                                                    <td class="text-right">
                                                        {{line.amount | number:'':'fr-FR'}} F CFA
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table class="simple invoice-table-footer">
                                                <tbody>
                                                <tr class="tax">
                                                    <td>TAXE</td>
                                                    <td>{{invoice.taxAmount| number:'':'fr-FR'}}</td>
                                                </tr>
                                                <tr class="total">
                                                    <td>MONTANT TOTAL</td>
                                                    <td>{{invoice.total | number:'':'fr-FR'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="footer">
                                            <div class="note">Veuillez payer dans les 15 jours. Merci pour la bonne
                                                comprehension.
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start start">
                                                <div style="max-width: 120px;">
                                                    <img src="assets/images/logos/dsn-logo.png">
                                                </div>
                                                <div class="small-note">
                                                    DNS MALI vous remercie pour la confiance placée en elle. Merci.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div [routerLink]="'/views/invoice/devis/print/'+invoice.id"
                                         class="doNotPrint">
                                        <button>Imprimer</button>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
