<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">

        </a>

        <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">
                    Copyright ® 2019 <a href="http://dsnmali.com" target="_blank"
                                        style="margin-left: 5px; color: #A61341; font-weight: normal !important;">
                    DSN-MALI SARL</a>
                </span>
        </div>

    </div>

</mat-toolbar>
