@import "src/@fuse/scss/fuse";

@mixin fuse-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    fuse-widget {

        &:hover {

            .fuse-widget-front,
            .fuse-widget-back {
                border: none;
                @include mat-elevation(5);
            }
        }

        > .fuse-widget-front,
        > .fuse-widget-back {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);
            transition: box-shadow 200ms ease-in-out;
        }
    }
}