<div class="page-layout carded fullwidth inner-scroll" id="customers">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <http-spinner></http-spinner>

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    people
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Clients
                </span>
            </div>
            <!-- / APP TITLE -->
            <div *ngIf="roleUtils.canReadAllCustomer()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un agent">
                    <mat-icon>person</mat-icon>
                    <div class="priority-label" *ngIf="!selectedUser || !selectedUser.id">Selectionner un agent</div>
                    <div class="priority-label"
                         *ngIf="selectedUser && selectedUser.id">Agent : {{selectedUser?.firstname}} {{selectedUser?.lastname}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchUserInput matInput type="text" placeholder="Rechercher un agent"
                           autocomplete="off"
                           (input)="onListItemFiltering('user', $event.target.value)"
                           focused="'true'">
                </span>
                    </button>
                    <button class="nav-item" mat-menu-item (click)="onUserSelected(null)">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les utilisateurs</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let user of filteredUsers"
                            (click)="onUserSelected(user)">
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                </mat-menu>

            </div>
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter
                           placeholder="Rechercher un client"/>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div>
                <button *ngIf="roleUtils.canCreateCustomer()" [routerLink]="'/views/crm/customers/new'"
                        mat-fab class="accent" id="add-prospect-button"
                        matTooltip="Nouveau client"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon>add</mat-icon>
                </button>&nbsp;&nbsp;
                <button (click)="onDisplayChanged()" *ngIf="!isGridView"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                        mat-fab class="accent">
                    <mat-icon>view_module</mat-icon>
                </button>&nbsp;
                <button (click)="onDisplayChanged()" *ngIf="isGridView"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
                        mat-fab class="accent">
                    <mat-icon>view_headline</mat-icon>
                </button>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div *ngIf="isGridView" [@animate]="{value:'*',params:{delay:'200ms',x:'-300px'}}" class="customers-table">
                <div class="cards">
                    <div *ngFor="let cost of dataSource.filteredData" class="card">
                        <div class="card-preview">
                            <div class="fuse-card">
                                <div class="fuse-card">

                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">

                                        <div>
                                            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                                                      class="logo-icon s-32 mr-16">
                                                people
                                            </mat-icon>
                                        </div>

                                        <div class="pr-16">
                                            <div class="h3">{{cost.name}}</div>
                                        </div>

                                        <div>
                                            <button [matMenuTriggerFor]="card19Menu" aria-label="more"
                                                    mat-icon-button>
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #card19Menu="matMenu">
                                                <button *ngIf="roleUtils.canUpdateCustomer()" [routerLink]="'/views/crm/customers/'+cost.id+'/edit'"
                                                        mat-menu-item>
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Modifier</span>
                                                </button>
                                                <button *ngIf="roleUtils.canDeleteCustomer()" (click)="delete(cost)" mat-menu-item>
                                                    <mat-icon>delete</mat-icon>
                                                    <span>Supprimer</span>
                                                </button>
                                            </mat-menu>
                                        </div>

                                    </div>
                                </div>
                                <table class="simple clickable">
                                    <tbody>
                                    <tr>
                                        <td>Téléphone</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text">
                                                {{cost.telephoneOne}}</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td class="text-right">
                                            <div  class="h5 secondary-text">
                                                {{cost.email}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Adresse</td>
                                        <td class="text-right">

                                            <div class="h5 secondary-text">
                                                {{cost.addressOne}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Site web</td>
                                        <td class="text-right">
                                            <div class="h5 secondary-text">
                                                {{cost.siteWeb}}</div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="p-8 pt-0" fxLayout="row"
                                     fxLayoutAlign="start center">
                                    <div class="h3 secondary-text">{{cost.description}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <mat-table #table
                        [dataSource]="dataSource" [ngClass]='isGridView? "invisible": "visible"'
                       class="customers-table"
                       matSort>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telephoneOne">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.telephoneOne}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.email}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="addressOne">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.addressOne}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="siteWeb">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Site web</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.siteWeb}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <p class="text-truncate">{{cost.description}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let cost">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button [matMenuTriggerFor]="card19Menu" aria-label="more"
                                    mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #card19Menu="matMenu">
                                <button *ngIf="roleUtils.canUpdateCustomer()" [routerLink]="'/views/crm/customers/'+cost.id+'/edit'" mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button *ngIf="roleUtils.canDeleteCustomer()" (click)="delete(cost)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let folder; columns: displayedColumns;"
                         class="customer"
                         matRipple
                         [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData?.length"
                           [pageIndex]="0"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           [pageSize]="10">
            </mat-paginator>


        </div>
    </div>
</div>
