<div class="page-layout carded fullwidth inner-scroll" id="factures">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    receipt
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Factures
                </span>
            </div>
            <!-- / APP TITLE -->

            <div *ngIf="roleUtils.canReadAllDevis()" [@animate]="{value:'*',params:{delay:'300ms'}}" class="account"
                 fxLayout="column">
                <div [matMenuTriggerFor]="assignMenu" class="priority" fxLayout="row"
                     fxLayoutAlign="start center" matTooltip="Cliquez pour choisir un client ou prospect"
                     matTooltipPosition="above">
                    <mat-icon>people</mat-icon>
                    <div *ngIf="!selectedCustomer || !selectedCustomer.id" class="priority-label">Selectionner un client
                        ou prospect
                    </div>
                    <div *ngIf="selectedCustomer && selectedCustomer.id"
                         class="priority-label">Client / Prospect
                        : {{selectedCustomer?.name}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button (click)="toggleOnSearch($event)" class="nav-item" mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchCustomerInput (input)="onListItemFiltering('customer', $event.target.value)"
                           autocomplete="off" focused="'true'"
                           matInput
                           placeholder="Rechercher un client ou prospect"
                           type="text">
                </span>
                    </button>
                    <button (click)="onCustomerSelected(null)" class="nav-item" mat-menu-item>
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les clients ou prospects</span>
                    </button>
                    <button (click)="onCustomerSelected(customer)" *ngFor="let customer of filteredCustomers"
                            class="nav-item"
                            mat-menu-item>
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{customer.name}}</span>
                    </button>
                </mat-menu>

            </div>

            <div *ngIf="roleUtils.canReadAllDevis()" [@animate]="{value:'*',params:{delay:'300ms'}}" class="account"
                 fxLayout="column">
                <div [matMenuTriggerFor]="assignMenu" class="priority" fxLayout="row"
                     fxLayoutAlign="start center" matTooltip="Cliquez pour choisir un agent"
                     matTooltipPosition="above">
                    <mat-icon>person</mat-icon>
                    <div *ngIf="!selectedUser || !selectedUser.id" class="priority-label">Selectionner un agent</div>
                    <div *ngIf="selectedUser && selectedUser.id"
                         class="priority-label">Agent
                        : {{selectedUser?.firstname}} {{selectedUser?.lastname}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button (click)="toggleOnSearch($event)" class="nav-item" mat-menu-item>
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchUserInput (input)="onListItemFiltering('user', $event.target.value)"
                           autocomplete="off" focused="'true'"
                           matInput
                           placeholder="Rechercher un agent"
                           type="text">
                </span>
                    </button>
                    <button (click)="onUserSelected(null)" class="nav-item" mat-menu-item>
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les utilisateurs</span>
                    </button>
                    <button (click)="onUserSelected(user)" *ngFor="let user of filteredUsers" class="nav-item"
                            mat-menu-item>
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                </mat-menu>

            </div>

            <div *ngIf="roleUtils.canReadAllDevis()" [@animate]="{value:'*',params:{delay:'300ms'}}" class="account"
                 fxLayout="column">
                <div [matMenuTriggerFor]="assignMenu" class="priority" fxLayout="row"
                     fxLayoutAlign="start center" matTooltip="Cliquez pour choisir un etat"
                     matTooltipPosition="above">
                    <mat-icon>show_chart</mat-icon>
                    <div *ngIf="!selectedState" class="priority-label">Selectionner un etat</div>

                    <div *ngIf="selectedState" class="priority-label">Etat :</div>
                    <div *ngIf="selectedState" class="priorities" fxLayout="row" fxLayoutAlign="start center">
                        <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                            <div
                                [ngStyle]="{'background-color': selectedState==='OPEN'?'#FF9800': selectedState==='INVOICED'?'#388E3C':selectedState==='CANCEL'?'#F44336':'#B5B5B5'}"
                                class="priority-color"></div>
                            <div class="priority-label">{{invoiceState[selectedState]}}</div>
                        </div>
                    </div>

                </div>
                <mat-menu #assignMenu="matMenu">
                    <button (click)="onStateSelected()" class="nav-item" mat-menu-item>
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les etats</span>
                    </button>
                    <button (click)="onStateSelected(state)" *ngFor="let state of filteredStates" class="nav-item"
                            mat-menu-item>
                        <mat-icon class="nav-link-icon">show_chart</mat-icon>
                        <span>{{invoiceState[state]}}</span>
                    </button>
                </mat-menu>

            </div>

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher une facture">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div>
                <button *ngIf="roleUtils.canCreateInvoice()" [routerLink]="'/views/invoice/factures/new'"
                        class="add-product-button fuse-white mt-24 mt-md-0"
                        mat-raised-button>
                    <mat-icon>add</mat-icon>
                    <span>NOUVELLE FACTURE</span>
                </button>&nbsp;
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <mat-table #table [@animateStagger]="{value:'50'}" [dataSource]="dataSource"
                       class="factures-table"
                       fusePerfectScrollbar
                       matSort>
                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p class="text-truncate">{{invoice.customer.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p *ngIf="invoice.state != 'CANCEL'" class="text-truncate">{{invoice.number}}</p>
                        <p *ngIf="invoice.state === 'CANCEL'" class="text-truncate"
                           style="color: darkred;">{{invoice.number}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoiceDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Facture</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p class="text-truncate">{{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="devisNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Devis</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p class="text-truncate">{{invoice.devis.number}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="taxe">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TVA</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p *ngIf="invoice.taxValue"
                           class="text-truncate">{{invoice.taxValue ? invoice.taxValue + ' %' : ''}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Montant Total</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-label-amount">{{invoice.total | number:'':'fr-FR'}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div
                                    [ngStyle]="{'background-color': invoice.state==='OPEN'?'#FF9800':invoice.state==='CLOSE'?'#388E3C':invoice.state==='VALIDATE'?'#b2fff1':invoice.state==='IN_PAYMENT'?'#508e55':invoice.state==='PAID'?'#3E8E59':'#F44336'}"
                                    class="priority-color"></div>
                                <div class="priority-label">{{invoiceState[invoice.state]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stayToPay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reste à payer</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-label-amount">{{invoice.stayToPay | number:'':'fr-FR'}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Crée par</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p class="text-truncate">{{invoice.createBy?.firstname}} {{invoice.createBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updateBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modifiée par</mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <p class="text-truncate">{{invoice.updateBy?.firstname}} {{invoice.updateBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let invoice">
                        <div fxFlex="row" fxLayoutAlign="end center">

                            <button aria-label="more" mat-icon-button matTooltip="Voir détails"
                                    matTooltipPosition="above">
                                <mat-icon class="secondary-text">remove_red_eye</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu" *ngIf="false">
                                <button
                                    *ngIf=" roleUtils.canUpdateInvoice() && (invoice.state != 'VALIDATE' && invoice.editable)"
                                    [routerLink]="'/views/invoice/factures/'+invoice.id+'/'+invoice.number"
                                    aria-label="modifier"
                                    mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button (click)="validation(invoice)"
                                        *ngIf="roleUtils.canValidateInvoice() && (invoice.state === 'OPEN')"
                                        mat-menu-item>
                                    <mat-icon>check</mat-icon>
                                    <span>Valider</span>
                                </button>
                                <button
                                    (click)="issuePayment('issue', invoice)"
                                    *ngIf="roleUtils.canPayInvoice() && (invoice.state === 'VALIDATE' || invoice.state === 'IN_PAYMENT')"
                                    mat-menu-item>
                                    <mat-icon>assignment</mat-icon>
                                    <span>Émettre un paiement</span>
                                </button>
                                <button
                                    (click)="cancel(invoice)"
                                    *ngIf="roleUtils.canCancelInvoice() && (invoice.state === 'OPEN' || invoice.state === 'VALIDATE')"
                                    mat-menu-item>
                                    <mat-icon>close</mat-icon>
                                    <span>Annuler</span>
                                </button>
                                <button (click)="delete(invoice)"
                                        *ngIf="roleUtils.canDeleteInvoice() && (invoice.state === 'CANCEL')"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let invoice; columns: displayedColumns;"
                         [@animate]="{value:'*',params:{y:'25%'}}"
                         [routerLink]="'/views/invoice/details/'+invoice.id"
                         class="facture" matRipple></mat-row>

            </mat-table>

            <mat-paginator (page)="onPageChanged($event)"
                           [length]="dataSource.filteredData.length"
                           [pageSizeOptions]="[30, 100]">
            </mat-paginator>
        </div>
    </div>
    <!-- / CENTER -->
</div>
