<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <canvas id="demo-canvas"></canvas>

        <!--<div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/dsn-logo.png">
        </div>-->

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            DSN ERP
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Description of the application with features
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div fxShow.gt-xs>
                <img src="assets/images/logos/dsn-logo.png">
            </div>
            <br/><br/><br/>

            <div class="title" [align]='"center"'>AUTHENTIFICATION</div>

            <form (ngSubmit)="onLogin()" [formGroup]="loginForm" name="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input formControlName="username" matInput>
                    <mat-icon matSuffix class="secondary-text">people</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Nom d'utilisateur est requis
                    </mat-error>
                    <!--<mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>-->
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe est requis
                    </mat-error>
                </mat-form-field>

                <div *ngIf="false" class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                    SE CONNECTER
                </button>

            </form>

            <div *ngIf="false" class="separator">
                <span class="text">OR</span>
            </div>

            <div *ngIf="false" fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook">
                    Log in with Facebook
                </button>

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">
                    Copyright ® 2019 <a href="http://dsnmali.com" target="_blank"
                                        style="margin-left: 5px; color: #A61341; font-weight: normal !important;">
                    DSN-MALI SARL</a>
                </span>
                <a *ngIf="false" class="link" [routerLink]="'/pages/auth/register-2'">Create an account</a>
            </div>
        </div>
    </div>
</div>
