<div id="devis" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Devis
                </span>
            </div>
            <!-- / APP TITLE -->

            <div *ngIf="roleUtils.canReadAllDevis()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un client ou prospect">
                    <mat-icon>people</mat-icon>
                    <div class="priority-label" *ngIf="!selectedCustomer || !selectedCustomer.id">Selectionner un client
                        ou prospect
                    </div>
                    <div class="priority-label"
                         *ngIf="selectedCustomer && selectedCustomer.id">Client / Prospect
                        : {{selectedCustomer?.name}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchCustomerInput matInput type="text" placeholder="Rechercher un client ou prospect"
                           autocomplete="off"
                           (input)="onListItemFiltering('customer', $event.target.value)"
                           focused="'true'">
                </span>
                    </button>
                    <button class="nav-item" mat-menu-item (click)="onCustomerSelected(null)">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les clients ou prospects</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let customer of filteredCustomers"
                            (click)="onCustomerSelected(customer)">
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{customer.name}}</span>
                    </button>
                </mat-menu>

            </div>

            <div *ngIf="roleUtils.canReadAllDevis()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un agent">
                    <mat-icon>person</mat-icon>
                    <div class="priority-label" *ngIf="!selectedUser || !selectedUser.id">Selectionner un agent</div>
                    <div class="priority-label"
                         *ngIf="selectedUser && selectedUser.id">Agent
                        : {{selectedUser?.firstname}} {{selectedUser?.lastname}}</div>
                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                        <mat-icon>search</mat-icon>
                        <span>
                    <input #searchUserInput matInput type="text" placeholder="Rechercher un agent"
                           autocomplete="off"
                           (input)="onListItemFiltering('user', $event.target.value)"
                           focused="'true'">
                </span>
                    </button>
                    <button class="nav-item" mat-menu-item (click)="onUserSelected(null)">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les utilisateurs</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let user of filteredUsers"
                            (click)="onUserSelected(user)">
                        <mat-icon class="nav-link-icon">person</mat-icon>
                        <span>{{user.firstname}} {{user.lastname}}</span>
                    </button>
                </mat-menu>

            </div>

            <div *ngIf="roleUtils.canReadAllDevis()" class="account" fxLayout="column"
                 [@animate]="{value:'*',params:{delay:'300ms'}}">
                <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                     [matMenuTriggerFor]="assignMenu" matTooltipPosition="above"
                     matTooltip="Cliquez pour choisir un etat">
                    <mat-icon>show_chart</mat-icon>
                    <div class="priority-label" *ngIf="!selectedState">Selectionner un etat</div>

                    <div class="priority-label" *ngIf="selectedState">Etat : </div>
                    <div *ngIf="selectedState" class="priorities" fxLayout="row" fxLayoutAlign="start center">
                        <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority-color"
                                 [ngStyle]="{'background-color': selectedState==='OPEN'?'#FF9800': selectedState==='INVOICED'?'#388E3C':selectedState==='CANCEL'?'#F44336':'#B5B5B5'}"></div>
                            <div class="priority-label">{{devisState[selectedState]}}</div>
                        </div>
                    </div>

                </div>
                <mat-menu #assignMenu="matMenu">
                    <button class="nav-item" mat-menu-item (click)="onStateSelected()">
                        <mat-icon class="nav-link-icon"></mat-icon>
                        <span>Tous les etats</span>
                    </button>
                    <button class="nav-item" mat-menu-item *ngFor="let state of filteredStates"
                            (click)="onStateSelected(state)">
                        <mat-icon class="nav-link-icon">show_chart</mat-icon>
                        <span>{{devisState[state]}}</span>
                    </button>
                </mat-menu>

            </div>
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un devis">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <div>
                <button *ngIf="roleUtils.canCreateDevis()" mat-raised-button
                        [routerLink]="'/views/invoice/devis/new'"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                    <mat-icon>add</mat-icon>
                    <span>NOUVEAU DEVIS</span>
                </button>&nbsp;
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <http-spinner></http-spinner>

            <mat-table class="devis-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client / Prospect</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.customer.name}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="agent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Personne en charge</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.agent?.firstname}} {{devis.agent?.lastname}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate" *ngIf="devis.state != 'CANCEL'">{{devis.number}}</p>
                        <p class="text-truncate" *ngIf="devis.state === 'CANCEL'"
                           style="color: darkred;">{{devis.number}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="devisDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date du devis</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.devisDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="taxe">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TVA</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.taxValue ? devis.taxValue + '  %' : ''}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="privateComment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Commentaire Privé</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.privateComment}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total (CFA)</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-label-amount">{{devis.total | number:'':'fr-FR'}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amountInvoiced">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Montant facturé (CFA)</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <div *ngIf="devis.amountInvoiced" class="priorities" fxLayout="row"
                             fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': devis.amountInvoiced > devis.total?'#388E3C':devis.amountInvoiced < devis.total?'#F44336':'#B5B5B5'}"></div>
                                <div class="priority-label-amount">{{devis.amountInvoiced | number:'':'fr-FR'}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': devis.state==='OPEN'?'#FF9800': devis.state==='INVOICED'?'#388E3C':devis.state==='CANCEL'?'#F44336':'#B5B5B5'}"></div>
                                <div class="priority-label">{{devisState[devis.state]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Creer par</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.createBy?.firstname}} {{devis.createBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updateBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modifié par</mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <p class="text-truncate">{{devis.updateBy?.firstname}} {{devis.updateBy?.lastname}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let devis">
                        <div fxFlex="row" fxLayoutAlign="end center">

                            <button mat-icon-button aria-label="more" matTooltip="Voir détails">
                                <mat-icon class="secondary-text">remove_red_eye</mat-icon>
                            </button>

                            <mat-menu *ngIf="false" #devisOptionMenu="matMenu">
                                <button
                                    *ngIf="roleUtils.canUpdateDevis() && (devis.state == 'OPEN' && !devis.invoiceGenerated)"
                                    mat-menu-item aria-label="modifier"
                                    [routerLink]="'/views/invoice/devis/'+devis.id+'/'+devis.number">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button *ngIf="roleUtils.canDuplicateDevis() && devis.canDuplicate" mat-menu-item
                                        [routerLink]="'/views/invoice/devis/'+devis.id+'/canDuplicate'">
                                    <mat-icon>edit</mat-icon>
                                    <span>Dupliquer</span>
                                </button>
                                <button
                                    *ngIf="roleUtils.canCancelDevis() && (devis.state === 'OPEN' || devis.state === 'VALIDATE')"
                                    mat-menu-item (click)="cancel(devis)">
                                    <mat-icon>close</mat-icon>
                                    <span>Annuler</span>
                                </button>
                                <button
                                    *ngIf="roleUtils.canDeleteDevis() && (devis.state === 'DUPLICATE' || devis.state === 'CANCEL')"
                                    mat-menu-item (click)="delete(devis)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                                <button *ngIf="roleUtils.canPrintDevis()" mat-menu-item
                                        [routerLink]="'/views/invoice/devis-print/'+devis.id">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimer</span>
                                </button>
                                <button
                                    *ngIf="roleUtils.canConvertDevis() && (devis.state === 'OPEN' && !devis.invoiceGenerated)"
                                    mat-menu-item
                                    aria-label="ajouter" (click)="newInvoice(devis)"
                                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                                    <mat-icon>add</mat-icon>
                                    <span>Convertir en Facture</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let devis; columns: displayedColumns;"
                         [routerLink]="'/views/invoice/devis-details/'+devis.id"
                         class="devisRow" matRipple
                         [@animate]="{value:'*',params:{y:'25%'}}">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="totalElements"
                           (page)="onPageChanged($event)"
                           [pageSizeOptions]="[30, 100]">
            </mat-paginator>
        </div>
    </div>
    <!-- / CENTER -->
</div>
