@import "src/@fuse/scss/fuse";

invoice-devis {

    #devis {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 300px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                .priority {
                    .priorities {

                        .priority {
                            background-color: rgba(0, 0, 0, 0.08);
                            font-size: 11px;
                            border-radius: 2px;
                            margin: 8px 4px 0 0;
                            padding: 3px 8px;

                            .priority-color {
                                width: 13px;
                                height: 13px;
                                margin-right: 8px;
                                border-radius: 50%;
                            }

                            .priority-color-2 {
                                width: 8px;
                                height: 8px;
                                margin-right: 8px;
                                border-radius: 50%;
                            }

                            .priority-label {
                                font-weight: bold;
                                font-size: 13px;
                            }

                            .priority-label-amount {
                                font-weight: bold;
                                font-size: 15px;
                            }
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .devis-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .devisRow {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-header-row {
            min-height: 64px;
        }

        .mat-header-cell {
            font-size: 15px;
            font-weight: bold;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .dev-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-category {
            flex: 0 1 240px;
        }

        .mat-column-price {
            flex: 0 1 160px;
        }

        .mat-column-quantity {
            flex: 0 1 160px;
        }

        .mat-column-active {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }

        .priorities {

            .priority {
                background-color: rgba(0, 0, 0, 0.08);
                font-size: 11px;
                border-radius: 2px;
                margin: 8px 4px 0 0;
                padding: 3px 8px;

                .priority-color {
                    width: 13px;
                    height: 13px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .priority-color-2 {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .priority-label {
                    font-weight: bold;
                    font-size: 13px;
                }

                .priority-label-amount {
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }

}



