@import 'src/@fuse/scss/fuse';

task-details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .task-header {
        padding: 24px;
        border-bottom: 1px solid;

        .actions {
            min-width: 88px;

            .priority {
                font-size: 11px;
                border-radius: 2px;
                margin: 8px 4px 0 0;
                padding: 3px 8px;

                .priority-color {
                    width: 13px;
                    height: 13px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .priority-label {
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }
    }

    .task-content {
        padding: 24px;

        .title {
            font-size: 17px;
            font-weight: 600;
        }

        .priority {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;

            .priority-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
}
