<http-spinner-small></http-spinner-small>

<div *ngIf="!task" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-task-icon hint-text"
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-task-text" [@animate]="{value:'*',params:{delay:'400ms'}}">
        Selectionner une tâche
    </span>
</div>

<div *ngIf="task">

    <form [formGroup]="taskForm" (submit)="addTask()" name="taskForm">

        <div class="task-header" fxLayout="row" fxLayoutAlign="space-between center">

            <div class="actions" fxLayout="row" fxLayoutAlign="start center">

                <div class="priorities mb-24" fxFlexFill fxLayout="row wrap">

                    <div *ngIf="roleUtils.canAssignTask()" class="priority" fxLayout="row" fxLayoutAlign="start center"
                         [matMenuTriggerFor]="assignMenu" matTooltip="Cliquez pour changer la personne">
                        <mat-icon>person</mat-icon>
                        <div class="priority-label" *ngIf="!task.assignTo">Assigné la tâche à :</div>
                        <div class="priority-label"
                             *ngIf="task.assignTo">{{task.assignTo?.firstname}} {{task.assignTo?.lastname}}</div>
                    </div>
                    <mat-menu #assignMenu="matMenu">
                        <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                            <mat-icon>search</mat-icon>
                            <span>
                                <input #searchUserInput matInput type="text" placeholder="Rechercher un utilisateur"
                                       autocomplete="off"
                                       (input)="onListItemFiltering('user', $event.target.value)"
                                       focused="'true'">
                            </span>
                        </button>
                        <button class="nav-item" mat-menu-item *ngFor="let user of filteredUsers"
                                (click)="toggleUserOnTask(user)">
                            <mat-icon class="nav-link-icon">person</mat-icon>
                            <span>{{user.firstname}} {{user.lastname}}</span>
                        </button>
                    </mat-menu>

                    <div class="priority" fxLayout="row" fxLayoutAlign="start center" [matMenuTriggerFor]="stateMenu"
                         matTooltip="Cliquez pour changer l'état">
                        <div class="priority-color"
                             [ngStyle]="{'background-color': task.state==='TODO'?'#0091EA': task.state==='IN_PROGRESS'?'#FF9800': task.state==='DONE'?'#388E3C':'#F44336'}"></div>
                        <div class="priority-label" *ngIf="!task.state">Selectionner l'état</div>
                        <div class="priority-label" *ngIf="task.state">{{stateTask[task.state]}}</div>
                    </div>
                    <mat-menu #stateMenu="matMenu">
                        <button mat-menu-item *ngFor="let state of states"
                                (click)="toggleStateOnTask(state)"
                                [ngStyle]="{'color': state==='TODO'?'#0091EA': state==='IN_PROGRESS'?'#FF9800': state==='DONE'?'#388E3C':'#F44336'}">
                            <mat-icon class="nav-link-icon">
                                {{state === 'TODO' ? 'format_align_center' : state === 'IN_PROGRESS' ? 'call_missed_outgoing' : state === 'DONE' ? 'done' : 'block'}}
                            </mat-icon>
                            <span>{{stateTask[state]}}</span>
                        </button>
                    </mat-menu>

                    <div class="priority" fxLayout="row" fxLayoutAlign="start center"
                         [matMenuTriggerFor]="priorityMenu" matTooltip="Cliquez pour changer la priorité">
                        <div class="priority-color"
                             [ngStyle]="{'background-color': task.priority==='LOW'?'#B5B5B5': task.priority==='MEDIUM'?'#FF9800': task.priority==='HIGH'?'#F44336':'#F44336'}"></div>
                        <div class="priority-label" *ngIf="!task.priority">Selectionner la priorité</div>
                        <div class="priority-label" *ngIf="task.priority">{{priorityTask[task.priority]}}</div>
                    </div>
                    <mat-menu #priorityMenu="matMenu">
                        <button class="nav-item" mat-menu-item *ngFor="let priority of priorities"
                                (click)="togglePriorityOnTask(priority)">
                            <mat-icon class="nav-link-icon"
                                      [ngStyle]="{'color':priority==='LOW'?'#B5B5B5': priority==='MEDIUM'?'#FF9800': priority==='HIGH'?'#F44336':'#F44336'}">
                                label
                            </mat-icon>
                            <span>{{priorityTask[priority]}}</span>
                        </button>
                    </mat-menu>

                    <div *ngIf="roleUtils.canCreateProspectTask()" class="priority" fxLayout="row"
                         fxLayoutAlign="start center"
                         [matMenuTriggerFor]="customerMenu" matTooltip="Cliquez pour choisir le prospect client">
                        <mat-icon>people</mat-icon>
                        <div class="priority-label" *ngIf="!task.customer">Prospect client :</div>
                        <div class="priority-label"
                             *ngIf="task.customer">{{task.customer?.name}}</div>
                    </div>
                    <mat-menu #customerMenu="matMenu">
                        <button class="nav-item" mat-menu-item (click)="toggleOnSearch($event)">
                            <mat-icon>search</mat-icon>
                            <span>
                                <input #searchCustomerInput matInput type="text"
                                       placeholder="Rechercher un prospect client"
                                       autocomplete="off"
                                       (input)="onListItemFiltering('customer', $event.target.value)"
                                       focused="'true'">
                            </span>
                        </button>
                        <button class="nav-item" mat-menu-item (click)="toggleCustomerOnTask(null)">
                            <mat-icon></mat-icon>
                            <span>Sans prospect client</span>
                        </button>
                        <button class="nav-item" mat-menu-item *ngFor="let customer of filteredCustomers"
                                (click)="toggleCustomerOnTask(customer)">
                            <mat-icon class="nav-link-icon">people</mat-icon>
                            <span>{{customer.name}}</span>
                        </button>
                    </mat-menu>

                    <div class="priority" fxLayout="row" fxLayoutAlign="end center" [matMenuTriggerFor]="stateMenu"
                         matTooltip="Supprimer / Annuler">
                        <button mat-icon-button (click)="toggleDeleted($event)" aria-label="Toggle delete">
                            <mat-icon class="secondary-text" *ngIf="task">delete</mat-icon>
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="task-content">

            <mat-form-field appearance="outline" class="title mt-8" fxFill>
                <mat-label>Action</mat-label>
                <mat-select formControlName="title" required>
                    <mat-option *ngFor="let action of actions" [value]="action">
                        {{actionTask[action]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                    <mat-label>Début tâche</mat-label>
                    <input [matDatepicker]="startDate" (dateInput)="addEvent($event)"
                           formControlName="startDate" matInput>
                    <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #startDate [disabled]="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
                    <mat-label>Date d'écheance</mat-label>
                    <input [matDatepicker]="dueDate" [min]="minDate" formControlName="dueDate" required
                           matInput>
                    <mat-datepicker-toggle [for]="dueDate" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #dueDate [disabled]="false"></mat-datepicker>
                </mat-form-field>

            </div>

            <mat-form-field appearance="outline" fxFill>
                <mat-label>Notes</mat-label>
                <textarea matInput #description
                          name="description"
                          formControlName="description"
                          maxlength="500">
                </textarea>
                <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
            </mat-form-field>

            <button type="submit" *ngIf="roleUtils.canCreateTask() && formType === 'new'"
                    mat-raised-button color="accent"
                    [disabled]="taskForm.invalid">
                CREER
            </button>

        </div>

    </form>
</div>
