.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.15);
    // border: 10px solid #F47216;
    color: #A61341;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

